---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

images:
  - name: ghcr.io/authelia/authelia
    newTag: 4.39.14@sha256:88f1494b6ac1174641770f106335ab67752d66e5822b4059badca220b5d6153b 
resources:
  - deployment.yml
  - service.yml
  - podmonitor.yml
