---
# tasks file for docker-networks
- name: "Create MAN network"
  community.docker.docker_network:
    attachable: yes
    driver: "macvlan"
    driver_options:
      parent: "eth1.10"
    enable_ipv6: yes
    ipam_driver: "default"
    ipam_config:
      - subnet: "10.10.0.0/24"
        gateway: "10.10.0.1"
      - subnet: "fd36:3eb3:43b0:a::/64"
        gateway: "fd36:3eb3:43b0:a::1"
    name: "man"
    state: "present"
  vars:
    ansible_python_interpreter: "/usr/bin/env python3-docker"
  when:
    - common__additional_ethernet_interfaces is defined
    - common__additional_ethernet_interfaces | selectattr("name", "match", "eth1.10") | length > 0
- name: "Create HOME network"
  community.docker.docker_network:
    attachable: yes
    driver: "macvlan"
    driver_options:
      parent: "eth1.117"
    enable_ipv6: yes
    ipam_driver: "default"
    ipam_config:
      - subnet: "10.117.0.0/23"
        gateway: "10.117.0.1"
      - subnet: "fd36:3eb3:43b0:75::/64"
        gateway: "fd36:3eb3:43b0:75::1"
    name: "home"
    state: "present"
  vars:
    ansible_python_interpreter: "/usr/bin/env python3-docker"
  when:
    - common__additional_ethernet_interfaces is defined
    - common__additional_ethernet_interfaces | selectattr("name", "match", "eth1.117") | length > 0

- name: "Create SERVICE82 network"
  community.docker.docker_network:
    attachable: yes
    driver: "macvlan"
    driver_options:
      parent: "eth1.82"
    enable_ipv6: no
    ipam_driver: "default"
    ipam_config:
      - subnet: "10.82.0.0/23"
        gateway: "10.82.0.1"
    name: "service82"
    state: "present"
  vars:
    ansible_python_interpreter: "/usr/bin/env python3-docker"
  when:
    - common__additional_ethernet_interfaces is defined
    - common__additional_ethernet_interfaces | selectattr("name", "match", "eth1.82") | length > 0
