---
# Computes the appropriate comands for a network.
{% macro set_shared_network_name(shared_network) %}
- set service dhcp-server shared-network-name {{ shared_network.name }} authoritative
- set service dhcp-server shared-network-name {{ shared_network.name }} subnet {{ shared_network.subnet }} option default-router '{{ shared_network.default_router }}'

{% if shared_network.own_dns %}
- >-
  set service dhcp-server shared-network-name {{ shared_network.name }} subnet {{ shared_network.subnet }} option name-server
  '{{ shared_network.default_router }}''
- >-
  set service dhcp-server shared-network-name {{ shared_network.name }} subnet {{ shared_network.subnet }} option name-server
  '{{ (shared_network.subnet | ansible.utils.ipaddr('network'))[:-1] }}{{ vyos__host_id_ipv4 }}'
- >-
  set service dhcp-server shared-network-name {{ shared_network.name }} subnet {{ shared_network.subnet }} option name-server
  '{{ (shared_network.subnet | ansible.utils.ipaddr('network'))[:-1] }}{{ vyos__peer_host_id_ipv4 }}'
{% else %}
- set service dhcp-server shared-network-name {{ shared_network.name }} subnet {{ shared_network.subnet }} option name-server '1.1.1.2'
- set service dhcp-server shared-network-name {{ shared_network.name }} subnet {{ shared_network.subnet }} option name-server '1.0.0.2'
{% endif %}
- set service dhcp-server shared-network-name {{ shared_network.name }} subnet {{ shared_network.subnet }} range 0 start '{{ shared_network.range.start }}'
- set service dhcp-server shared-network-name {{ shared_network.name }} subnet {{ shared_network.subnet }} range 0 stop '{{ shared_network.range.stop }}'

{% if 'static_mapping' in shared_network %}
{% for mapping in shared_network.static_mapping %}
- >-
  set service dhcp-server shared-network-name {{ shared_network.name }} subnet {{ shared_network.subnet }} static-mapping
  {{ mapping.name }} mac-address '{{ mapping.mac }}'
- >-
  set service dhcp-server shared-network-name {{ shared_netowrk.name }} subnet {{ shared_network.subnet }} static-mapping
  {{ mapping.name }} ip-address '{{ mapping.ip }}'
{% endfor %}
{% endif %}

- set service dhcp-server shared-network-name {{ shared_network.name }} subnet {{ shared_network.subnet }} subnet-id '{{ shared_network.id }}'
{% endmacro %}

- set service dhcp-server high-availability mode 'active-passive'
- set service dhcp-server high-availability name '{{ vyos_dhcp_server__failover_name }}'
- set service dhcp-server high-availability remote '10.9.0.{{ vyos__peer_host_id_ipv4 }}'
- set service dhcp-server high-availability source-address '10.9.0.{{ vyos__host_id_ipv4 }}'
{% if vyos__vrrp_priority < 100 %}
- set service dhcp-server high-availability status 'secondary'
{% else %}
- set service dhcp-server high-availability status 'primary'
{% endif %}

{% for shared_network in vyos_dhcp_server__networks %}
{{ set_shared_network_name(shared_network) }}
{% endfor -%}
