---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

images:
  - name: lscr.io/linuxserver/tvheadend
    newTag: latest@sha256:70324a635cf2f2cdac681638459a6128c255b0981c165850d25b90dd001146db
resources:
  - service.yml
  - statefulset.yml
