---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

images:
  - name: lscr.io/linuxserver/tvheadend
    newTag: latest@sha256:d0afac9de7e30b8b31b95ee7bcb7631c9757314b1c6f889961d1efe18e042e97
resources:
  - service.yml
  - statefulset.yml
