---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

images:
  - name: lscr.io/linuxserver/tvheadend
    newTag: latest@sha256:617c18a8e382a62cbd4ccc61aaaceba86a10968ce36e254a93c1a361a78de8dd
resources:
  - service.yml
  - statefulset.yml
