---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

configMapGenerator:
  - name: crowdsec-configmap
    files:
      - configmap/config.yaml.local
  - name: crowdsec-acquisitions-configmap
    files:
      - configmap/acquis.d/appsec.yaml
      - configmap/acquis.d/authelia.yaml
      - configmap/acquis.d/immich.yaml
      - configmap/acquis.d/navidrome.yaml
      - configmap/acquis.d/traefik.yaml
  - name: crowdsec-scripts-configmap
    files:
      - configmap/scripts/entrypoint.sh
images:
  - name: ghcr.io/crowdsecurity/crowdsec
    newTag: v1.7.4@sha256:4312a5109057f2a6b1237431abe638cd1026ecb3a9c2707c6ccc1ed09e4cb994 
  - name: postgres
    newTag: 17@sha256:dca7512acaa113409df7e40d977d801e53c0c8088e45d4311a45b4065ccfdcd3
namespace: crowdsec
resources:
  - namespace.yml
  - deployment.yml
  - postgresql.yml
  - service.yml
