---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

components:
  - ../../../components/cnpg-backup
configMapGenerator:
  - name: crowdsec-configmap
    files:
      - configmap/config.yaml.local
  - name: crowdsec-acquisitions-configmap
    files:
      - configmap/acquis.d/appsec.yaml
      - configmap/acquis.d/authelia.yaml
      - configmap/acquis.d/immich.yaml
      - configmap/acquis.d/navidrome.yaml
      - configmap/acquis.d/traefik.yaml
  - name: crowdsec-scripts-configmap
    files:
      - configmap/scripts/entrypoint.sh
images:
  - name: ghcr.io/crowdsecurity/crowdsec
    newTag: v1.7.4@sha256:4312a5109057f2a6b1237431abe638cd1026ecb3a9c2707c6ccc1ed09e4cb994 
  - name: postgres
    newTag: 17@sha256:bac8128cd62a35471a1e97966861aa2ac88c8d2f408767a425ae70695a607c99
namespace: crowdsec
patches:
  - path: patches/cnpg/set_backup_path.yml
    target:
      kind: ObjectStore
      name: garage-objectstore
resources:
  - namespace.yml
  - cnpg/cluster.yml
  - cnpg/podmonitor.yml
  - cnpg/scheduledbackup.yml
  - deployment.yml
  - service.yml
