.ansible_vault_password
.venv

# Used to configure bootc images with a pre-defined user.
config.toml
output-mack

# Roles and Collections that are managed by ansible-galaxy.
external_collections/
external_roles/

# Helm chart expansion by kustomize.  This isn't the suggested way, but home-prod isn't prod.
kustomization/**/charts
