---
# handlers file for opensprinkler
- name: "recompile opensprinkler"
  ansible.builtin.command:
    argv:
      - "bash"
      - "build.sh"
      - "-s"
    chdir: "/src/OpenSprinkler-Firmware"
    creates: "/src/OpenSprinkler-Firmware/OpenSprinkler"
  notify: "update opensprinkler binary"
- name: "update opensprinkler binary"
  ansible.builtin.copy:
    dest: "{{ opensprinkler_user.home }}/ospi"
    mode: "u=rwx,g=rx,o=rx"
    remote_src: yes
    src: "/src/OpenSprinkler-Firmware/OpenSprinkler"
  notify: "restart opensprinkler"
- name: "restart opensprinkler"
  ansible.builtin.service:
    name: "opensprinkler"
    state: "restarted"
- name: "reload opensprinkler service details"
  ansible.builtin.command:
    argv:
      - "systemctl"
      - "daemon-reload"