---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: crowdsec-pg-cluster
spec:
  backup:
    target: primary
  bootstrap:
    initdb:
      database: crowdsec
      dataChecksums: true
      owner: crowdsec
      postInitApplicationSQL:
        - ALTER USER crowdsec SET search_path TO "$user", data, public
  env:
    - name: TZ
      value: America/Los_Angeles
  imageName: ghcr.io/cloudnative-pg/postgresql:18@sha256:b53c340d52ae3c5e980147b2dee775e5a569ad2d4a4447a629bfc9bf048c7768
  instances: 1
  managed:
    services:
      disabledDefaultServices:
        - r
        - ro
  monitoring:
    tls:
      enabled: true
  plugins:
    - enabled: true
      isWALArchiver: true
      name: barman-cloud.cloudnative-pg.io
      parameters:
        barmanObjectName: garage-objectstore
  primaryUpdateMethod: switchover
  primaryUpdateStrategy: unsupervised
  priorityClassName: critical-application-infra
  storage:
    size: 5Gi
    storageClass: cnpg-data-encrypted-storage
  walStorage:
    size: 4Gi
    storageClass: cnpg-wal-encrypted-storage
