---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

components:
  - ../../../components/paperless
images:
  - name: postgres
    newTag: 16@sha256:e28a3921cd21da6d9418fd031d5e6374a3883cac5e31c257fd06a71f5595d4dd
  - name: quay.io/opstree/redis
    newTag: v8.2.2@sha256:8fb0c3cc1443b545efbf08b846480aa14fe4d78fd6745d526b58dca935891539
namespace: paperless
patches:
  - path: patches/increase_paperless_data_size.yml
    target:
      kind: PersistentVolumeClaim
      name: paperless-data
  - path: patches/set_paperless_customizations.yml
    target:
      kind: StatefulSet
      name: paperless
  - path: patches/set_samba_address.yml
    target:
      kind: Service
      name: samba-svc
  - path: patches/use_important_longhorn_group.yml
    target:
      kind: PersistentVolumeClaim
resources:
  - ingress.yml
  - namespace.yml
  - postgresql.yml
  - redis.yml
