---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

components:
  - ../../../components/paperless
images:
  - name: postgres
    newTag: 16@sha256:d4c3314b2dd74ff23cd6cd07e4d7e737cb6ef791c22a7cbd744cfbfb4815df72
  - name: quay.io/opstree/redis
    newTag: v8.4.0@sha256:539924b2c1446dcdea2f043af2c50bed7516623254e4984a6d926df42eb359b2
namespace: paperless
patches:
  - path: patches/increase_paperless_data_size.yml
    target:
      kind: PersistentVolumeClaim
      name: paperless-data
  - path: patches/set_paperless_customizations.yml
    target:
      kind: StatefulSet
      name: paperless
  - path: patches/set_samba_address.yml
    target:
      kind: Service
      name: samba-svc
  - path: patches/use_important_longhorn_group.yml
    target:
      kind: PersistentVolumeClaim
resources:
  - ingress.yml
  - namespace.yml
  - postgresql.yml
  - redis.yml
