---
apiVersion: acid.zalan.do/v1
kind: postgresql
metadata:
  name: paperless-17-pg
spec:
  enableLogicalBackup: true
  numberOfInstances: 0
  podPriorityClassName: critical-application-infra
  postgresql:
    version: "17"
  preparedDatabases:
    paperless:
      defaultUsers: true
      schemas:
        public: {}
  teamId: paperless
  volume:
    size: 30Gi
    storageClass: longhorn-encrypted-replicated-database
