---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

components:
  - ../../../components/traefik
configMapGenerator:
  - name: crowdsec-pages-configmap
    files:
      - configmap/crowdsec/pages/ban.html
  - name: traefik-config
    files:
      - configmap/traefik/dynamic.yml
      - configmap/traefik/static.yml
images:
  - name: traefik
    newName: 11notes/traefik
    newTag: 3.6.2@sha256:fa45cde5a12cc5c3f4b88b8b9a96a4ed5579860540861df7b78e84d8cbf39fd1
namespace: traefik
patches:
  - path: patches/crowdsec/add_pages.yml
    target:
      kind: Deployment
      name: traefik-deployment
  - path: patches/traefik/add_configuration.yml
    target:
      kind: Deployment
      name: traefik-deployment
  - path: patches/traefik/update_subjects.yml
    target:
      kind: ClusterRoleBinding
      name: traefik-ingress-controller
resources:
  - namespace.yml
  - certificate.yml
  - ingress/traefik-dashboard.yml
  - podmonitor.yml
  - service/traefik.yml
