---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

components:
  - ../../../components/traefik
configMapGenerator:
  - name: crowdsec-pages-configmap
    files:
      - configmap/crowdsec/pages/ban.html
  - name: traefik-config
    files:
      - configmap/traefik/dynamic.yml
      - configmap/traefik/static.yml
images:
  - name: traefik
    newName: 11notes/traefik
    newTag: 3.5.4@sha256:3f1679c053239229c9d0314db8d4ab133881b54f35b0c6a4b32d4fd5523b8f92
namespace: traefik
patches:
  - path: patches/crowdsec/add_pages.yml
    target:
      kind: Deployment
      name: traefik-deployment
  - path: patches/traefik/add_configuration.yml
    target:
      kind: Deployment
      name: traefik-deployment
  - path: patches/traefik/update_subjects.yml
    target:
      kind: ClusterRoleBinding
      name: traefik-ingress-controller
resources:
  - namespace.yml
  - certificate.yml
  - ingress/traefik-dashboard.yml
  - podmonitor.yml
  - service/traefik.yml
