---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

components:
  - ../../../components/traefik
configMapGenerator:
  - name: crowdsec-pages-configmap
    files:
      - configmap/crowdsec/pages/ban.html
  - name: traefik-config
    files:
      - configmap/traefik/dynamic.yml
      - configmap/traefik/static.yml
images:
  - name: traefik
    newName: 11notes/traefik
    newTag: 3.6.8@sha256:79ad13789799cab49fda5b4da82b0fad4205b05736b1c45809cb9d3a62b6742c
namespace: traefik
patches:
  - path: patches/crowdsec/add_pages.yml
    target:
      kind: Deployment
      name: traefik-deployment
  - path: patches/traefik/add_configuration.yml
    target:
      kind: Deployment
      name: traefik-deployment
  - path: patches/traefik/update_subjects.yml
    target:
      kind: ClusterRoleBinding
      name: traefik-ingress-controller
resources:
  - namespace.yml
  - certificate.yml
  - ingress/traefik-dashboard.yml
  - podmonitor.yml
  - service/traefik.yml
