---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

components:
  - ../../../components/jellyfin
  - ../../../components/navidrome
  - ../../../components/tdarr
images:
  - name: jellyfin/jellyfin
    newTag: 10.11.6@sha256:333b647716631443a43c7fabac4b0c46b4e2f036bad19547e00958f10f721b85
  - name: deluan/navidrome
    newTag: 0.60.2@sha256:1b3f9556fc4f70cb1c2d3995543e734bdc90c762c9c6ee9a7c5f6a9745efbc3e
namespace: aventertainment
patches:
  - path: patches/add_jellyfin_hardware_acc_reqs.yml
    target:
      kind: StatefulSet
      name: jellyfin-statefulset
  - path: patches/add_jellyfin_volumes.yml
    target:
      kind: StatefulSet
      name: jellyfin-statefulset
  - path: patches/add_navidrome_volumes.yml
    target:
      kind: StatefulSet
      name: navidrome-statefulset
  - path: patches/add_tdarr_node_volumes.yml
    target:
      kind: Deployment
      name: tdarr-node-deployment
  - path: patches/add_tdarr_server_volumes.yml
    target:
      kind: StatefulSet
      name: tdarr-server-statefulset
  - path: patches/set_navidrome_baseurl.yml
    target:
      kind: StatefulSet
      name: navidrome-statefulset
  - path: patches/set_navidrome_disable_star_rating.yml
    target:
      kind: StatefulSet
      name: navidrome-statefulset
  - path: patches/set_navidrome_service_ip.yml
    target:
      kind: Service
      name: navidrome-svc
  - path: patches/set_tdarr_server_user_and_group.yml
    target:
      kind: StatefulSet
      name: tdarr-server-statefulset
  - path: patches/set_tdarr_worker_user_and_group.yml
    target:
      kind: Deployment
      name: tdarr-node-deployment
  - path: patches/set_jellyfin_service_ip.yml
    target:
      kind: Service
      name: jellyfin-svc
  - path: patches/set_tdarr_cache_pvc_size.yml
    target:
      kind: PersistentVolumeClaim
      name: tdarr-cache-pvc
resources:
  - namespace.yml
  - ingress.yml
  - persistentvolume.yml
  - persistentvolumeclaim.yml
