---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

images:
  - name: jellyfin/jellyfin
    newTag: 10.11.6@sha256:333b647716631443a43c7fabac4b0c46b4e2f036bad19547e00958f10f721b85
resources:
  - service.yml
  - statefulset.yml
