---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

images:
  - name: jellyfin/jellyfin
    newTag: 10.11.4@sha256:aab0b50a3ce43a41621fc7040a379cc57174059aec8f9c17a90176649a0c1ab1
resources:
  - service.yml
  - statefulset.yml
