# Hosts Database File
#
# {{ ansible_managed }}

{% set hostnames %}{{ inventory_hostname }} {{ inventory_hostname_short }}{% endset -%}
{% set interface_lo = ansible_interfaces | select('match', '^lo') | first -%}

# IPv4 Entries
{% if ansible_facts[interface_lo].ipv4 | length %}
  {{- ansible_facts[interface_lo].ipv4.address }} localhost
{% endif %}
{% for ipv4_host in common__ip_addresses | ansible.utils.ipv4('host/prefix') %}
  {{- ipv4_host | ansible.utils.ipaddr('address') }} {{ hostnames -}}
  {%- if ansible_facts[interface_lo].ipv4 | length == 0 %} localhost{% endif %}
{% endfor %}


# IPv6 Entries
{% if ansible_facts[interface_lo].ipv6 | length %}
  {{- ansible_facts[interface_lo].ipv6 | map(attribute='address') | first }} ip6-localhost ip6-loopback
{% endif %}
{% for ipv6_host in common__ip_addresses | ansible.utils.ipv6('host/prefix') %}
  {{- ipv6_host | ansible.utils.ipaddr('address') }} {{ hostnames -}}
  {%- if ansible_facts[interface_lo].ipv4 | length == 0 %} ip6-localhost ip6-loopback{% endif %}
{% endfor %}

fe00::0  ip6-localnet
ff00::0  ip6-mcastprefix
ff02::1  ip6-allnodes
ff02::2  ip6-allrouters
