# {{ ansible_managed }}

source /etc/network/interfaces.d/*

#
# Loopback Interface
#
auto lo
iface lo inet loopback

{% for bond, bond_details in common__ethernet_interface_bonds.items() -%}

#
# Bond Interface {{ bond }}
#
{% for interface in bond_details.interfaces %}
auto {{ interface }}
iface {{ interface }} inet manual
    bond-master {{ bond }}

{% endfor %}
auto {{ bond }}
iface {{ bond }} inet manual
    bond-downdelay        200
    bond-lacp-rate        1
    bond-miimon           100
    bond-mode             802.3ad
    bond-slaves           none
    bond-updelay          100
    bond-xmit-hash-policy layer2+3
    up ifconfig {{ bond }} 0.0.0.0 up
{% endfor %}

{%- set primary_interface = common__ethernet_primary_interface | default(ansible_default_ipv4.interface, true) %}
#
# Primary Interface {{ primary_interface }}
#
auto {{ primary_interface }}
iface {{ primary_interface }} inet static
{% for ipv4_host in common__ip_addresses | ansible.utils.ipv4('host/prefix') %}
    address         {{ ipv4_host | ansible.utils.ipaddr('address') }}
    network         {{ ipv4_host | ansible.utils.ipaddr('network') }}
    netmask         {{ ipv4_host | ansible.utils.ipaddr('netmask') }}
    broadcast       {{ ipv4_host | ansible.utils.ipaddr('broadcast') }}
{% endfor %}
    gateway         {{ common__gateway_v4_address }}
{% if "." in primary_interface %}
    vlan-raw-device {{ primary_interface.split('.')[0] }}
{% endif %}

{% set ipv6_list = common__ip_addresses | ansible.utils.ipv6('host/prefix') %}
{% if ipv6_list | length > 0 %}
iface {{ primary_interface }} inet6 static
    address   {{ ipv6_list[0] }}
    gateway   {{ common__gateway_v6_address }}
{% if ipv6_list | length > 1 %}
{% for subnet in ipv6_list[1:] %}
    up   /sbin/ip address add {{ subnet }} dev {{ primary_interface }}
    down /sbin/ip address del {{ subnet }} dev {{ primary_interface }}
{% endfor %}
{% endif %}

{% endif %}

{%- for interface_config in common__additional_ethernet_interfaces | default([]) %}

# Additional Interface: {{ interface_config.name }}
auto {{ interface_config.name }}
iface {{ interface_config.name }} inet {{ interface_config.inet.mode }}
{% if '.' in interface_config.name %}
    vlan-raw-device {{ interface_config.name.split('.')[0] }}
{% endif %}
{% for line in interface_config.inet.lines %}
    {{ line }}
{% endfor %}
{% if "inet6" in interface_config %}
iface {{ interface_config.name }} inet6 {{ interface_config.mode }}
{% if '.' in interface_config.name %}
    vlan-raw-device {{ interface_config.name.split('.')[0] }}
{% endif %}
{% for line in interface_config.inet6.lines %}
    {{ line }}
{% endfor %}
{% endif %}
{% endfor %}
