# {{ ansible_managed }}

source /etc/network/interfaces.d/*

# The loopback network interface
auto lo
iface lo inet loopback

# Primary Interface {{ ansible_default_ipv4.interface }} (v4)
auto {{ ansible_default_ipv4.interface }}
iface {{ ansible_default_ipv4.interface }} inet static
{% for ipv4_host in common__ip_addresses | ansible.netcommon.ipv4('host/prefix') %}
    address   {{ ipv4_host | ansible.netcommon.ipaddr('address') }}
    network   {{ ipv4_host | ansible.netcommon.ipaddr('network') }}
    netmask   {{ ipv4_host | ansible.netcommon.ipaddr('netmask') }}
    broadcast {{ ipv4_host | ansible.netcommon.ipaddr('broadcast') }}
{% endfor %}
    gateway   {{ common__gateway_v4_address }}

{% set ipv6_list = common__ip_addresses | ansible.netcommon.ipv6('host/prefix') %}
{% if ipv6_list | length > 0 %}
# Primary Interface {{ ansible_default_ipv4.interface }} (v6)
iface {{ ansible_default_ipv4.interface }} inet6 static
    address   {{ ipv6_list[0] }}
    gateway   {{ common__gateway_v6_address }}
{% if ipv6_list | length > 1 %}
{% for subnet in ipv6_list[1:] %}
    up   /sbin/ip address add {{ subnet }} dev {{ ansible_default_ipv4.interface }}
    down /sbin/ip address del {{ subnet }} dev {{ ansible_default_ipv4.interface }}
{% endfor %}
{% endif %}
{% endif %}

{% for interface_config in common__additional_ethernet_interfaces | default([]) %}

# Additional Interface: {{ interface_config.name }}
auto {{ interface_config.name }}
iface {{ interface_config.name }} inet {{ interface_config.inet.mode }}
{% if '.' in interface_config.name %}
    vlan-raw-device {{ interface_config.name.split('.')[0] }}
{% endif %}
{% for line in interface_config.inet.lines %}
    {{ line }}
{% endfor %}
{% if "inet6" in interface_config %}
iface {{ interface_config.name }} inet6 {{ interface_config.mode }}
{% if '.' in interface_config.name %}
    vlan-raw-device {{ interface_config.name.split('.')[0] }}
{% endif %}
{% for line in interface_config.inet6.lines %}
    {{ line }}
{% endfor %}
{% endif %}
{% endfor %}
