---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

components:
  - ../../../components/opencloud
configMapGenerator:
  # These can be set with an environment variable and can therefore just be
  # mounted and pointed to.
  - files:
      - configmap/opencloud/csp.yaml
    name: opencloud-managed-configmap
  # These must be copied into the /config directory in an init container.
  - files:
      - configmap/opencloud/app-registry.yaml
      - configmap/opencloud/apps.yaml
      - configmap/opencloud/banned-passwords-list.txt
      - configmap/opencloud/proxy.yaml
    name: opencloud-copied-configmap
images:
  - name: busybox
    newTag: 1.37.0@sha256:2383baad1860bbe9d8a7a843775048fd07d8afe292b94bd876df64a69aae7cb1
  - name: opencloudeu/opencloud-rolling
    newTag: 5.0.1@sha256:9c6b9ffea9f1e3f08beb526b99e3158002d21b2f7ad7d8d36c123fc7e1b58bfe
namespace: opencloud
patches:
  - path: patches/opencloud/add_config.yml
    target:
      kind: StatefulSet
      name: opencloud-statefulset
resources:
  - namespace.yml
  - ingress.yml
