---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

components:
  - ../../../components/opencloud
configMapGenerator:
  # These can be set with an environment variable and can therefore just be
  # mounted and pointed to.
  - files:
      - configmap/opencloud/csp.yaml
    name: opencloud-managed-configmap
  # These must be copied into the /config directory in an init container.
  - files:
      - configmap/opencloud/app-registry.yaml
      - configmap/opencloud/apps.yaml
      - configmap/opencloud/banned-passwords-list.txt
      - configmap/opencloud/proxy.yaml
    name: opencloud-copied-configmap
images:
  - name: busybox
    newTag: 1.37.0@sha256:b3255e7dfbcd10cb367af0d409747d511aeb66dfac98cf30e97e87e4207dd76f
  - name: opencloudeu/opencloud-rolling
    newTag: 5.1.0@sha256:6229e937e32e5e114ddac81af7e851fb9346a818c58a36b784529d5503530f93
namespace: opencloud
patches:
  - path: patches/opencloud/add_config.yml
    target:
      kind: StatefulSet
      name: opencloud-statefulset
resources:
  - namespace.yml
  - ingress.yml
