---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

components:
  - ../../../components/opencloud
configMapGenerator:
  # These can be set with an environment variable and can therefore just be
  # mounted and pointed to.
  - files:
      - configmap/opencloud/csp.yaml
    name: opencloud-managed-configmap
  # These must be copied into the /config directory in an init container.
  - files:
      - configmap/opencloud/app-registry.yaml
      - configmap/opencloud/apps.yaml
      - configmap/opencloud/banned-passwords-list.txt
      - configmap/opencloud/proxy.yaml
    name: opencloud-copied-configmap
images:
  - name: busybox
    newTag: 1.37.0@sha256:e3652a00a2fabd16ce889f0aa32c38eec347b997e73bd09e69c962ec7f8732ee
  - name: opencloudeu/opencloud-rolling
    newTag: 4.1.0@sha256:6e36a7be89e6ce121167c2633ac03fae54962d59efa1837e69720296041b8d87
namespace: opencloud
patches:
  - path: patches/opencloud/add_config.yml
    target:
      kind: StatefulSet
      name: opencloud-statefulset
resources:
  - namespace.yml
  - ingress.yml
