---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: this-is-ignored-but-is-required
spec:
  template:
    spec:
      containers:
        - env:
            - name: LLDAP_DATABASE_URL
              valueFrom:
                secretKeyRef:
                  key: uri
                  name: lldap-pg-cluster-app
          name: lldap
      initContainers:
        - command:
            - sh
            - -c
            - until pg_isready; do echo "waiting for database ${PGHOST}:${PGPORT}/${PGDATABASE}..."; sleep 10; done;
          env:
            - name: PGDATABASE
              valueFrom:
                secretKeyRef:
                  key: dbname
                  name: lldap-pg-cluster-app
            - name: PGHOST
              valueFrom:
                secretKeyRef:
                  key: host
                  name: lldap-pg-cluster-app
            - name: PGPASSWORD
              valueFrom:
                secretKeyRef:
                  key: password
                  name: lldap-pg-cluster-app
            - name: PGSSLMODE
              value: require
            - name: PGUSER
              valueFrom:
                secretKeyRef:
                  key: username
                  name: lldap-pg-cluster-app
          image: postgres
          name: wait-for-pg-is-ready
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            seccompProfile:
              type: RuntimeDefault
