---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

images:
  - name: ghcr.io/squat/generic-device-plugin
    # Alas, this is currently not versioned: https://github.com/squat/generic-device-plugin/issues/24
    newTag: latest@sha256:ef5deb09dcf7e577c8603857ae56ef479d91be6ab6f40dd2427166d510b0745f
resources:
  - daemonset.yml
