---
- name: Create unix groups
  ansible.builtin.group:
    name: "{{ item.name }}"
    gid: "{{ item.gid }}"
    state: present
  become: true
  loop: "{{ common__unix_groups + common__host_unix_groups }}"
  loop_control:
    label: "{{ item.name }}"
- name: Create users
  ansible.builtin.user:
    expires: -1
    group: "{{ item.group | default(item.name) }}"
    home: "{{ common__home_prefix }}{{ item.name }}"
    name: "{{ item.name }}"
    password: "{{ item.password | default('') }}"
    shell: "{{ item.shell | default('/bin/bash') }}"
    state: present
    uid: "{{ item.uid }}"
  become: true
  loop: "{{ common__unix_users + common__host_unix_users }}"
  loop_control:
    label: "{{ item.name }}"
- name: Deploy public keys to ansible user
  ansible.posix.authorized_key:
    user: ansible
    state: present
    key: "{{ item.type }} {{ item.key }}"
  loop: "{{ common__keys }}"
  loop_control:
    label: "{{ item.description }}"
  become: true
- name: Setup sudoers
  ansible.builtin.template:
    src: sudoers.j2
    dest: /etc/sudoers.d/ansible
    validate: 'visudo -cf %s'
    mode: 0440
  become: true
  vars:
    unix_groups: "{{ common__unix_groups + common__host_unix_groups }}"
    unix_users:  "{{ common__unix_users + common__host_unix_users }}"

# Cleanup From Provisioning
- name: Remove provision user
  ansible.builtin.user:
    name: provision
    remove: true
    state: absent
  become: true
  when: ansible_user != "provision"
- name: Remove provision group
  ansible.builtin.group:
    name: provision
    state: absent
  become: true
  when: ansible_user != "provision"
- name: Remove ubuntu user
  ansible.builtin.user:
    name: ubuntu
    remove: true
    state: absent
  become: true
  when: ansible_user != "ubuntu"
- name: Remove ubuntu group
  ansible.builtin.group:
    name: ubuntu
    state: absent
  become: true
  when: ansible_user != "ubuntu"
