---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

components:
  - ../../../components/transmission
configMapGenerator:
  - name: protonvpn-configmap
    files:
      - configmap/protonvpn/resolv.conf
  - name: wireguard-scripts-configmap
    files:
      - configmap/scripts/setup_wireguard.sh
images:
  - name: alpine
    newTag: 3.23.3@sha256:25109184c71bdad752c8312a8623239686a9a2071e8825f20acb8f2198c3f659
  - name: dockurr/dnsmasq
    newTag: 2.92@sha256:e84feecd6551b586cf86f830f111ef36c399b0ca26a9bb6dae4a8ceb11626373
  - name: lscr.io/linuxserver/transmission
    newTag: 4.0.5-r0-ls223@sha256:bd450da4a328cdf1f89845785150e79b531983b27ab6a1d4c2e3e7dcbf952bfc
namespace: transmission
patches:
  - path: patches/add_downloads_mount.yml
    target:
      kind: StatefulSet
      name: transmission-statefulset
  - path: patches/add_protonvpn.yml
    target:
      kind: StatefulSet
      name: transmission-statefulset
resources:
  - namespace.yml
  - ingress.yml
  - persistentvolume.yml
  - persistentvolumeclaim.yml
