---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: stirling-pdf-chart
    version: 2.2.0
    repo: https://docs.stirlingpdf.com/Stirling-PDF-chart/
    releaseName: stirling-pdf
    valuesFile: values.yml
images:
  - name: docker.stirlingpdf.com/stirlingtools/stirling-pdf
    newTag: 2.5.2-fat@sha256:670667215ef0bc9726b4cc44d7c111e1ee5b7281cd224754c01fb182dd24781b 
namespace: stirling-pdf
resources:
  - namespace.yml
