---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: stirling-pdf-chart
    version: 2.2.0
    repo: https://docs.stirlingpdf.com/Stirling-PDF-chart/
    releaseName: stirling-pdf
    valuesFile: values.yml
images:
  - name: docker.stirlingpdf.com/stirlingtools/stirling-pdf
    newTag: 1.6.0-fat@sha256:6a98563e829ac87bc54e116ba0003f4a4379febc6745608132d48f4fb22b6c02 
namespace: stirling-pdf
resources:
  - namespace.yml
