[Unit]
After=syslog.target network-online.target
Description=Checks if policies need to be updated for selinux to run opkssh.
Wants=network.target

[Service]
ExecStart=/usr/share/opkssh/configure_selinux.sh
KillMode=process
Type=simple

[Install]
WantedBy=multi-user.target