---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

components:
  - ../../../components/immich
images:
  - name: ghcr.io/immich-app/immich-server
    newTag: v2.2.2@sha256:6f57cf359f57f05c89238680b39ca7cd0e135477e11247ad4beb02cc740bbfda
  - name: ghcr.io/immich-app/immich-machine-learning
    newTag: v2.2.2@sha256:848b097e1250695ceaa371824b441356847140328bcfb921bdd5e3459878d535
namespace: immich
patches:
  - path: patches/add_postgres.yml
    target:
      kind: Deployment
      name: immich-server
resources:
  - namespace.yml
  - ingress.yml
  - postgresql.yml
