---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

components:
  - ../../../components/immich
images:
  - name: ghcr.io/immich-app/immich-server
    newTag: v2.2.3@sha256:4504d794123c3f5410cc45bbc61e4d7dbcacec1e1b0cd2e599691430c94e5849
  - name: ghcr.io/immich-app/immich-machine-learning
    newTag: v2.2.3@sha256:bf339cbb44af6c2ef25d9128e1da51b2bec0cfd524846a83e3017c21bd71ddb4
namespace: immich
patches:
  - path: patches/add_postgres.yml
    target:
      kind: Deployment
      name: immich-server
resources:
  - namespace.yml
  - ingress.yml
  - postgresql.yml
