---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

components:
  - ../../../components/immich
images:
  - name: ghcr.io/immich-app/immich-server
    newTag: v2.3.1@sha256:f8d06a32b1b2a81053d78e40bf8e35236b9faefb5c3903ce9ca8712c9ed78445
  - name: ghcr.io/immich-app/immich-machine-learning
    newTag: v2.3.1@sha256:379e31b8c75107b0af8141904baa8cc933d7454b88fdb204265ef11749d7d908
namespace: immich
patches:
  - path: patches/add_postgres.yml
    target:
      kind: Deployment
      name: immich-server
resources:
  - namespace.yml
  - ingress.yml
  - postgresql.yml
