---
cidr_networks: {{ openstack_ansible_deploy__user_config_cidr_networks }}
used_ips: {{ openstack_ansible_deploy__user_config_used_ips }}

global_overrides: {{ openstack_ansible_deploy__user_config_global_overrides }}

shared-infra_hosts:
{% for host in groups["openstack_infra"] %}
  {{ hostvars[host].inventory_hostname_short }}:
    ip: {{ hostvars[host].common__ip_addresses | ansible.utils.reduce_on_network('10.10.0.0/24') | first | ansible.utils.ipaddr('address') }}
{% endfor %}

repo-infra_hosts:
{% for host in groups["openstack_infra"] %}
  {{ hostvars[host].inventory_hostname_short }}:
    ip: {{ hostvars[host].common__ip_addresses | ansible.utils.reduce_on_network('10.10.0.0/24') | first | ansible.utils.ipaddr('address') }}
{% endfor %}

os-infra_hosts:
{% for host in groups["openstack_infra"] %}
  {{ hostvars[host].inventory_hostname_short }}:
    ip: {{ hostvars[host].common__ip_addresses | ansible.utils.reduce_on_network('10.10.0.0/24') | first | ansible.utils.ipaddr('address') }}
{% endfor %}

identity_hosts:
{% for host in groups["openstack_infra"] %}
  {{ hostvars[host].inventory_hostname_short }}:
    ip: {{ hostvars[host].common__ip_addresses | ansible.utils.reduce_on_network('10.10.0.0/24') | first | ansible.utils.ipaddr('address') }}
{% endfor %}

network_hosts:
{% for host in groups["openstack_infra"] %}
  {{ hostvars[host].inventory_hostname_short }}:
    ip: {{ hostvars[host].common__ip_addresses | ansible.utils.reduce_on_network('10.10.0.0/24') | first | ansible.utils.ipaddr('address') }}
{% endfor %}

compute_hosts:
{% for host in groups["openstack_compute"] %}
  {{ hostvars[host].inventory_hostname_short }}:
    ip: {{ hostvars[host].common__ip_addresses | ansible.utils.reduce_on_network('10.10.0.0/24') | first | ansible.utils.ipaddr('address') }}
{% endfor %}

storage-infra_hosts:
{% for host in groups["openstack_infra"] %}
  {{ hostvars[host].inventory_hostname_short }}:
    ip: {{ hostvars[host].common__ip_addresses | ansible.utils.reduce_on_network('10.10.0.0/24') | first | ansible.utils.ipaddr('address') }}
{% endfor %}

storage_hosts:
{% for host in groups["openstack_storage"] %}
  {{ hostvars[host].inventory_hostname_short }}:
    ip: {{ hostvars[host].common__ip_addresses | ansible.utils.reduce_on_network('10.10.0.0/24') | first | ansible.utils.ipaddr('address') }}
    container_vars: {{ hostvars[host].openstack_ansible_deploy__storage_host_container_vars }}
{% endfor %}

log_hosts:
{% for host in groups["openstack_log"] %}
  {{ hostvars[host].inventory_hostname_short }}:
    ip: {{ hostvars[host].common__ip_addresses | ansible.utils.reduce_on_network('10.10.0.0/24') | first | ansible.utils.ipaddr('address') }}
{% endfor %}

haproxy_hosts:
{% for host in groups["openstack_infra"] %}
  {{ hostvars[host].inventory_hostname_short }}:
    ip: {{ hostvars[host].common__ip_addresses | ansible.utils.reduce_on_network('10.10.0.0/24') | first | ansible.utils.ipaddr('address') }}
{% endfor %}
