---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

images:
  - name: ghcr.io/haveagitgat/tdarr
    newTag: 2.57.01@sha256:a20579b19d95d532153fe0f53300227f64f72192b108ee1fb18c455cc8f6d86d
  - name: ghcr.io/haveagitgat/tdarr_node
    newTag: 2.57.01@sha256:67a06feca48a9ca8f9f0ab36098b84ecc65de4e1f23bfd12be888e16a8a8e9bf
resources:
  - deployment.yml
  - service.yml
  - statefulset.yml
