---
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: grafana-pg-cluster
spec:
  backup:
    target: primary
  imageName: ghcr.io/cloudnative-pg/postgresql:17@sha256:b473a9c10debd74827c2966632012c84e335ccacff1d87da4ad4facf96a62e21
  instances: 3
  managed:
    services:
      disabledDefaultServices:
        - r
        - ro
  plugins:
    - name: barman-cloud.cloudnative-pg.io
      isWALArchiver: true
      parameters:
        barmanObjectName: garage-objectstore
  postgresql:
    synchronous:
      failoverQuorum: true
      method: any
      number: 1
  primaryUpdateMethod: switchover
  primaryUpdateStrategy: unsupervised
  priorityClassName: critical-application-infra
  storage:
    size: 10Gi
    storageClass: cnpg-encrypted-storage
