---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  labels:
    app.kubernetes.io/instance: garage
    app.kubernetes.io/name: garage
  name: garage-ds
spec:
  selector:
    matchLabels:
      app.kubernetes.io/instance: garage
      app.kubernetes.io/name: garage
  template:
    metadata:
      labels:
        app.kubernetes.io/instance: garage
        app.kubernetes.io/name: garage
    spec:
      containers:
        - image: dxflrs/garage
          name: garage
          ports:
            - containerPort: 3900
              name: s3-api
            - containerPort: 3901
              name: rpc
            - containerPort: 3902
              name: web-api
            - containerPort: 3903
              name: admin
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: true
          volumeMounts:
            - mountPath: /mnt/meta
              name: meta
            - mountPath: /mnt/data
              name: data
            - mountPath: /etc/garage.toml
              name: configmap
              subPath: garage.toml
      securityContext:
        fsGroup: 0
        fsGroupChangePolicy: OnRootMismatch
        runAsGroup: 0
        runAsNonRoot: false
        runAsUser: 0
        seccompProfile:
          type: RuntimeDefault
      serviceAccountName: garage-serviceaccount
      volumes:
        - configMap:
            name: garage-config
          name: configmap
