---
apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    app.kubernetes.io/instance: garage
    app.kubernetes.io/name: garage
  name: garage-serviceaccount
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/instance: garage
    app.kubernetes.io/name: garage
  name: manage-garage-crds-clusterrole
rules:
  - apiGroups:
      - apiextensions.k8s.io
    resources:
      - customresourcedefinitions
    verbs:
      - create
      - get
      - list
      - patch
      - watch
  - apiGroups:
      - deuxfleurs.fr
    resources:
      - garagenodes
    verbs:
      - create
      - delete
      - get
      - list
      - patch
      - update
      - watch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels:
    app.kubernetes.io/instance: garage
    app.kubernetes.io/name: garage
  name: allow-crds-for-garage-garage
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: manage-garage-crds-clusterrole
subjects:
  - kind: ServiceAccount
    name: garage-serviceaccount
    namespace: garage
