---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: cnpg-system
patches:
  - patch: |-
      ---
      apiVersion: v1
      kind: Namespace
      metadata:
        labels:
          pod-security.kubernetes.io/enforce: restricted
          pod-security.kubernetes.io/enforce-version: latest
        name: this-is-ignored-but-is-required
    target:
      kind: Namespace
resources:
  - https://raw.githubusercontent.com/cloudnative-pg/cloudnative-pg/main/releases/cnpg-1.28.0.yaml
  - https://github.com/cloudnative-pg/plugin-barman-cloud/releases/download/v0.9.0/manifest.yaml
  - configmap.yml
  - podmonitor.yml
  - storageclass/data.yml
  - storageclass/legacy.yml
  - storageclass/wal.yml
