# Username and password used by the reolink cameras
reolink_username: {{viseron_reolink_username}}
reolink_password: {{viseron_reolink_password}}
# Address of the mqtt broker
mqtt_broker: {{viseron_mqtt_broker}}
# Username and password used by the mqtt broker
mqtt_username: {{viseron_mqtt_username}}
mqtt_password: {{viseron_mqtt_password}}
