# Lines configured by zsh-newuser-install
HISTFILE=~/.histfile
HISTSIZE=1000
SAVEHIST=1000
unsetopt autocd
bindkey -v
# End of lines configured by zsh-newuser-install
# The following lines were added by compinstall
autoload -Uz compinit
compinit
# End of lines added by compinstall

LS_COLORS=ExGxBxDxCxEgEdxbxgxcxd
alias ls='ls --color=auto'
alias grep='grep --color=auto'

{% raw -%}
PROMPT="%F{cyan}%n@%m%f:%F{green}%5(~Q…%4dQ%~)%f %(!.#.$) "
RPROMPT="%F{cyan}%* %D{%m/%d}%f"
export EDITOR=vim
{% endraw %}

# Setup ssh-agent
if [ ! -S ~/.ssh/ssh_auth_sock ]; then
  exec ssh-agent zsh
  ln -sf "$SSH_AUTH_SOCK" ~/.ssh/ssh_auth_sock
  export SSH_AUTH_SOCK=~/.ssh/ssh_auth_sock
fi

# Setup GPG TTY
export GPG_TTY=$(tty)
