---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: garage
    version: 1.2.0
    repo: https://charts.derwitt.dev
    releaseName: garage
    valuesFile: values.yml
namespace: garage
