---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

components:
  - ../../../components/garage
configMapGenerator:
  - name: garage-config
    files:
      - configmap/garage/garage.toml
namespace: garage
patches:
  - path: patches/garage/add_rpc_secret.yml
    target:
      kind: DaemonSet
      name: garage-ds
  - path: patches/garage/add_storage_directories.yml
    target:
      kind: DaemonSet
      name: garage-ds
  - path: patches/garage/use_host_network.yml
    target:
      kind: DaemonSet
      name: garage-ds
resources:
  - namespace.yml
