---
apiVersion: acid.zalan.do/v1
kind: postgresql
metadata:
  name: authelia-17-pg
spec:
  enableLogicalBackup: false
  numberOfInstances: 0
  podPriorityClassName: critical-application-infra
  postgresql:
    version: "17"
  preparedDatabases:
    authelia:
      defaultUsers: true
      schemas:
        public: {}
  teamId: authelia
  volume:
    size: 10Gi
    storageClass: longhorn-encrypted-replicated-database
