---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

components:
  - ../../../components/postgres-operator
namespace: postgres-operator
patches:
  # This should not be needed after upgrading past v1.15.
  - path: patches/postgres-operator/use_configmaps.yml
    target:
      kind: OperatorConfiguration
      name: postgresql-operator-default-configuration
  - path: patches/postgres-operator/use_local_load_balancer_external_traffic_policy.yml
    target:
      kind: OperatorConfiguration
      name: postgresql-operator-default-configuration
resources:
  - namespace.yml
  - podmonitor/spilo.yml
