---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

components:
  - ../../../components/codegen-postgres-logical-backup
  - ../../../components/postgres-operator
namespace: postgres-operator
patches:
  - path: patches/postgres-operator/add_logical_backup.yml
    target:
      kind: OperatorConfiguration
      name: postgresql-operator-default-configuration
  - path: patches/postgres-operator/use_local_load_balancer_external_traffic_policy.yml
    target:
      kind: OperatorConfiguration
      name: postgresql-operator-default-configuration
resources:
  - namespace.yml
  - ingress.yml
  - podmonitor/minio.yml
  - podmonitor/spilo.yml
  - scrapeconfig/minio-bucket.yml
  - scrapeconfig/minio-cluster.yml
  - scrapeconfig/minio-resource.yml
  - tenant.yml
