---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

components:
  - ../../../components/manyfold
images:
  - name: busybox
    newTag: 1.37.0@sha256:2383baad1860bbe9d8a7a843775048fd07d8afe292b94bd876df64a69aae7cb1
  - name: ghcr.io/manyfold3d/manyfold-solo
    newTag: 0.130.2@sha256:378add0aba4c2766bc9d59fe3bf431f23217e61a7aa490187db6db0dbf5176cb
namespace: manyfold
resources:
  - namespace.yml
  - ingress.yml
