---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

components:
  - ../../../components/manyfold
images:
  - name: busybox
    newTag: 1.37.0@sha256:e3652a00a2fabd16ce889f0aa32c38eec347b997e73bd09e69c962ec7f8732ee
  - name: ghcr.io/manyfold3d/manyfold-solo
    newTag: 0.129.4@sha256:71eba6c599fba51d37fb8d4f1ebb6f6861fdca3d62702aaea50bbebbe3115845
namespace: manyfold
resources:
  - namespace.yml
  - ingress.yml
