# {{ ansible_managed }}

{% for item in unix_groups %}
{% if "sudo" in item and item.sudo %}
%{{ item.name }} ALL=(ALL:ALL) NOPASSWD:ALL
{% endif %}
{% endfor %}

{% for item in unix_users %}
{% if "sudo" in item and item.sudo %}
{{ item.name }} ALL=(ALL:ALL) ALL
{% endif %}
{% endfor %}
