---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: external-svc
resources:
  - namespace.yml
  - endpointslice/garage-admin.yml
  - endpointslice/homeassistant.yml
  - endpointslice/nas.yml
  - endpointslice/opensprinkler.yml
  - ingress.yml
  - service/garage-admin.yml
  - service/homeassistant.yml
  - service/nas.yml
  - service/opensprinkler.yml
