---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

components:
  - https://github.com/marinatedconcrete/config/kustomization/components/paperless?ref=kustomize-paperless@v1.1.7
configMapGenerator:
  - name: paperless-backup-scripts-configmap
    files:
      - configmap/scripts/backup.sh
images:
  - name: docker.io/apache/tika
    newTag: 3.2.3.0@sha256:c0154cb95587cde64be74f35ada1a2bd7892219f3f0ac3c9dc6cab34046b3573
  - name: gotenberg/gotenberg
    newTag: 8.25.1@sha256:f9104080d9a7ecab253fb5ebe75100329cf5699c33ec0448f2ea02d885dfde4b
patches:
  - path: patches/add_tika.yml
    target:
      kind: StatefulSet
      name: paperless
  - path: patches/mount_memory_tmp.yml
    target:
      kind: StatefulSet
      name: paperless
  - path: patches/pin_pvc_paperless-media.yml
    target:
      kind: PersistentVolumeClaim
      name: paperless-media
resources:
  - clusterrole.yaml
  - clusterrolebinding.yaml
  - cronjob.yml
  - persistentvolume.yml
  - pvc.yml
  - serviceaccount.yml
