
{
  "mods": 
  [

    {
      "name": "base",
      "enabled": true
    }{% for item in factorio__mods %},

    {
      "name": "{{ item.name }}",
      "enabled": {{ item.enabled | default(True) | to_json }}
    }{% endfor %}

  ]
}