---
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: this-is-ignored-but-is-required
spec:
  template:
    spec:
      containers:
        - env: &opencloud-env
            - name: OC_CONFIG_DIR
              value: /etc/opencloud
            # Services to not startup:
            # - idp is not needed because we use authelia
            # - idm is not needed because we use lldap
            - name: OC_EXCLUDE_RUN_SERVICES
              value: idm idp
            - name: OC_INSECURE
              value: "false"
            - name: OC_URL
              value: https://cloud.tswn.us
            - name: START_ADDITIONAL_SERVICES
              value: notifications
            # Authelia OIDC Config
            # See https://docs.opencloud.eu/docs/admin/configuration/authentication-and-user-management/external-idp#opencloud-configuration
            # Note that this should be `false`, but is not due to this issue:
            # https://github.com/opencloud-eu/desktop/issues/217
            - name: GRAPH_ASSIGN_DEFAULT_USER_ROLE
              value: "true"
            - name: GRAPH_USERNAME_MATCH
              value: none
            - name: WEB_OIDC_CLIENT_ID
              value: OpenCloudWeb
            - name: WEB_OIDC_SCOPE
              value: openid profile email groups
            - name: OC_OIDC_ISSUER
              value: https://auth.tswn.us
            - name: PROXY_ROLE_ASSIGNMENT_OIDC_CLAIM
              value: groups
            # LDAP Configuration
            - name: FRONTEND_READONLY_USER_ATTRIBUTES
              value: user.onPremisesSamAccountName,user.displayName,user.mail,user.passwordProfile,user.memberOf,user.accountEnabled
            - name: GRAPH_LDAP_SERVER_UUID
              value: "true"
            - name: OC_ADMIN_USER_ID
              value: fc36b6b7-87d5-3162-bac4-caa0da0a9ff5
            - name: OC_LDAP_BIND_DN
              value: UID=opencloud,OU=people,DC=tswn,DC=us
            - name: OC_LDAP_BIND_PASSWORD
              valueFrom:
                secretKeyRef:
                  key: ldapPassword
                  name: opencloud-secret
            - name: OC_LDAP_DISABLE_USER_MECHANISM
              value: none
            - name: OC_LDAP_GROUP_BASE_DN
              value: ou=groups,dc=tswn,dc=us
            - name: OC_LDAP_GROUP_FILTER
              value: (&(objectclass=groupOfUniqueNames)(uid=opencloud-*))
            - name: OC_LDAP_GROUP_OBJECTCLASS
              value: groupOfUniqueNames
            - name: OC_LDAP_GROUP_SCHEMA_ID
              value: uuid
            - name: OC_LDAP_INSECURE
              value: "true"
            - name: OC_LDAP_SERVER_WRITE_ENABLED
              value: "false"
            - name: OC_LDAP_URI
              value: ldaps://lldap-svc.auth.svc.cluster.local:636
            - name: OC_LDAP_USER_BASE_DN
              value: ou=people,dc=tswn,dc=us
            - name: OC_LDAP_USER_FILTER
              value: (&(objectclass=inetOrgPerson)(|(memberOf=cn=opencloudGuest,ou=groups,dc=tswn,dc=us)(memberOf=cn=opencloudUser,ou=groups,dc=tswn,dc=us)(memberOf=cn=opencloudSpaceAdmin,ou=groups,dc=tswn,dc=us)(memberOf=cn=opencloudAdmin,ou=groups,dc=tswn,dc=us)))
            - name: OC_LDAP_USER_OBJECTCLASS
              value: inetOrgPerson
            - name: OC_LDAP_USER_SCHEMA_ID
              value: uuid
            - name: OC_LDAP_USER_SCHEMA_USER_TYPE
              value: opencloud-user-type
            - name: SETTINGS_SETUP_DEFAULT_ASSIGNMENTS
              value: "false"
            - name: WEB_OPTION_ACCOUNT_EDIT_LINK_HREF
              value: https://idm.tswn.us/
            # Storage Configuration
            - name: OC_DATA_DIR
              value: /var/lib/opencloud
            - name: STORAGE_USERS_DRIVER
              value: posix
            - name: STORAGE_USERS_ID_CACHE_STORE
              value: nats-js-kv
          name: opencloud
          volumeMounts: &opencloud-volumeMounts
            - mountPath: /etc/opencloud
              name: opencloud-config
            - mountPath: /var/lib/opencloud
              name: opencloud-data
            - mountPath: /managed-config
              name: opencloud-managed-config
      initContainers:
        - args:
            - -t
            - /etc/opencloud
            - /copied-config/app-registry.yaml
            - /copied-config/apps.yaml
            - /copied-config/banned-passwords-list.txt
            - /copied-config/proxy.yaml
          command:
            - cp
          image: busybox
          name: install-config
          resources:
            requests:
              cpu: 30m
              memory: 100Mi
          securityContext:
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - ALL
            readOnlyRootFilesystem: true
            runAsNonRoot: true
            seccompProfile:
              type: RuntimeDefault
          volumeMounts:
            - mountPath: /etc/opencloud
              name: opencloud-config
            - mountPath: /copied-config
              name: opencloud-copied-config
        - env: *opencloud-env
          name: opencloud-init
          volumeMounts: *opencloud-volumeMounts
      volumes:
        - configMap:
            name: opencloud-copied-configmap
          name: opencloud-copied-config
        - configMap:
            name: opencloud-managed-configmap
          name: opencloud-managed-config
