---
admin:
  existingSecret: grafana-secret

envValueFrom:
  GF_DATABASE_NAME:
    secretKeyRef:
      key: dbname
      name: grafana-pg-cluster-app
  GF_DATABASE_PASSWORD:
    secretKeyRef:
      key: password
      name: grafana-pg-cluster-app
  GF_DATABASE_USERNAME:
    secretKeyRef:
      key: username
      name: grafana-pg-cluster-app

extraInitContainers:
  - command:
      - sh
      - -c
      - until pg_isready; do echo "waiting for database ${PGHOST}:${PGPORT}/${PGDATABASE}..."; sleep 10; done;
    env:
      - name: PGDATABASE
        valueFrom:
          secretKeyRef:
            key: dbname
            name: grafana-pg-cluster-app
      - name: PGHOST
        valueFrom:
          secretKeyRef:
            key: host
            name: grafana-pg-cluster-app
      - name: PGUSER
        valueFrom:
          secretKeyRef:
            key: username
            name: grafana-pg-cluster-app
      - name: PGPASSWORD
        valueFrom:
          secretKeyRef:
            key: password
            name: grafana-pg-cluster-app
      - name: PGSSLMODE
        value: require
    image: postgres
    name: wait-for-grafana-pg-is-ready
    securityContext:
      allowPrivilegeEscalation: false
      capabilities:
        drop:
          - ALL
      readOnlyRootFilesystem: true
      runAsNonRoot: true
      runAsUser: 65534
      seccompProfile:
        type: RuntimeDefault

ingress:
  enabled: false

grafana.ini:
  analytics:
    check_for_updates: true
  database:
    host: grafana-pg-cluster-rw
    name: $__env{GF_DATABASE_NAME}
    password: $__env{GF_DATABASE_PASSWORD}
    ssl_mode: require
    type: postgres
    user: $__env{GF_DATABASE_USERNAME}
  grafana_net:
    url: https://grafana.net
  log:
    mode: console
  paths:
    data: /var/lib/grafana/
    logs: /var/log/grafana
    plugins: /var/lib/grafana/plugins
    provisioning: /etc/grafana/provisioning
  security:
    cookie_secure: true
    strict_transport_security: true
  server:
    domain: grafana.hogs.tswn.us

persistence:
  enabled: false # Uses postgres

serviceMonitor:
  enabled: true

testFramework:
  enabled: false
