---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

components:
  - ../../../components/cnpg-backup
  - ../../../components/prometheus
configMapGenerator:
  - name: alloy-config
    files:
      - configmap/kubernetes.alloy
      - configmap/loki.alloy
helmCharts:
  - name: alloy
    version: 1.5.3
    repo: https://grafana.github.io/helm-charts
    releaseName: alloy
    valuesFile: alloy-values.yml
  - name: grafana
    version: 10.5.15
    repo: https://grafana.github.io/helm-charts
    releaseName: grafana
    valuesFile: grafana-values.yml
  - name: loki
    namespace: monitoring
    version: 6.51.0
    repo: https://grafana.github.io/helm-charts
    releaseName: loki
    valuesFile: loki-values.yml
  - name: prometheus-adapter
    version: 5.2.0
    repo: https://prometheus-community.github.io/helm-charts
    releaseName: prometheus-adapter
    valuesFile: prometheus-adapter-values.yml
images:
  - name: postgres
    newTag: 18@sha256:5773fe724c49c42a7a9ca70202e11e1dff21fb7235b335a73f39297d200b73a2
  - name: registry.k8s.io/prometheus-adapter/prometheus-adapter
    newTag: v0.12.0@sha256:932eae60e2bcf9c4660d6442da066ef1a79b4ea7cc232c61c7303069216ca006
namespace: monitoring
patches:
  - path: patches/alertmanager/set_configuration.yml
    target:
      kind: Alertmanager
      name: alertmanager
  - path: patches/alertmanager/set_externalUrl.yml
    target:
      kind: Alertmanager
      name: alertmanager
  - path: patches/cnpg/set_backup_path.yml
    target:
      kind: ObjectStore
      name: garage-objectstore
  - path: patches/loki/set_service_type_load_balancer.yml
    target:
      kind: Service
      name: loki-distributor
  - path: patches/prometheus/set_externalUrl.yml
    target:
      kind: Prometheus
      name: prometheus
  - path: patches/prometheus-adapter/set_correct_apiVersion.yml
    target:
      kind: APIService
resources:
  - namespace.yml
  - alertmanagerconfig.yml
  - cnpg/cluster.yml
  - cnpg/podmonitor.yml
  - cnpg/scheduledbackup.yml
  - ingress.yml
