#cloud-config

hostname: {{ hostvars[host].inventory_hostname_short }}

users:
  - name: kairos
    ssh_authorized_keys:
      - {{ common__ansible_key_type }} {{ common__ansible_key }}

{% if hostvars[host].k3s_controlplane %}
k3s:
  args:
    - --flannel-iface=man
    - --node-ip={{ hostvars[host].common__ip_addresses | ansible.utils.ipv4 | ansible.utils.ipaddr('address') | first }}
{% if hostvars[host].k3s_cluster_init | default(False) %}
    - --cluster-init
    # S3 Backup
    - --etcd-s3
    - --etcd-s3-access-key={{ hostvars[host].k3s_s3.access_key }}
    - --etcd-s3-bucket=k3s-etcd
    - --etcd-s3-endpoint=firstlightweaveslivingsong.hogs.tswn.us:9000
    - --etcd-s3-secret-key={{ hostvars[host].k3s_s3.secret_key }}
    - --etcd-s3-skip-ssl-verify
    - --etcd-s3-folder={{ host }}
{% else %}
    - --server https://{{ hostvars[groups[hostvars[host].k3s_controlplane_group] | first].inventory_hostname }}:6443
{% endif %}
    - --disable=traefik,servicelb
{% if hostvars[host].k3s_no_execute | default(False) %}
    - --node-taint key=value:NoExecute
{% endif %}
{% else %}
k3s-agent:
  args:
    - --flannel-iface=man
    - --node-ip={{ hostvars[host].common__ip_addresses | ansible.utils.ipv4 | ansible.utils.ipaddr('address') | first }}
{% endif %}
  enabled: true
  env:
    K3S_TOKEN: "{{ hostvars[host].k3s_token }}"
{% if not hostvars[host].k3s_controlplane %}
    K3S_URL: https://{{ hostvars[groups[hostvars[host].k3s_controlplane_group] | first].inventory_hostname }}:6443
{% endif %}

stages:
  initramfs:
    - name: Setup NTP
      systemctl:
        enable:
          - systemd-timesyncd
      timesyncd:
        NTP: {{ common__ntp_pool }}
        FallbackNTP: ""
    - files:
        - path: /etc/systemd/network/01-trunk.network
          permissions: 0644
          content: |
            [Link]
            Name=trunk
            [Match]
            Name=enp2s1
            [Network]
{% for network in hostvars[host].kairos_managed_networks %}
            VLAN={{ network.name }}
{% endfor %}
{% for network in hostvars[host].kairos_managed_networks %}
        - path: /etc/systemd/network/10-{{ network.name }}.netdev
          permissions: 0644
          content: |
            [NetDev]
            Name={{ network.name }}
            Kind=vlan
            [VLAN]
            Id={{ network.vlan_id }}
        - path: /etc/systemd/network/10-{{ network.name }}.network
          permissions: 0644
          content: |
            [Match]
            Name={{ network.name }}
            [Network]
{% if 'address' in network %}
            Address={{ network.address }}
{% endif %}
{% if 'gateway' in network %}
            DNS={{ network.gateway }}
            Gateway={{ network.gateway }}
{% endif %}
{% endfor %}
