---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

components:
  - ../../../components/authelia
  - ../../../components/lldap
configMapGenerator:
  - name: authelia-configmap
    files:
      - configmap/authelia/config.yml
images:
  - name: postgres
    newTag: 17@sha256:f79b9ee89b84a67a22e5eda7931d8510885ecc1f0a6e1572b0077fc003a5d892
  - name: quay.io/opstree/redis-sentinel
    newTag: v8.2.2@sha256:232e7b81e034c37b5f2b247452c1dd2c1e5f6b66bae814377bec41b0340f23c4
  - name: quay.io/opstree/redis
    newTag: v8.2.2@sha256:8fb0c3cc1443b545efbf08b846480aa14fe4d78fd6745d526b58dca935891539
namespace: auth
patches:
  # authelia
  - path: patches/authelia/add_config.yml
    target:
      kind: Deployment
      name: authelia-deployment
  # lldap
  - path: patches/lldap/add_config.yml
    target:
      kind: Deployment
      name: lldap-deployment
  - path: patches/lldap/add_ldaps_for_deployment.yml
    target:
      kind: Deployment
      name: lldap-deployment
  - path: patches/lldap/add_ldaps_for_service.yml
    target:
      kind: Service
      name: lldap-svc
  - path: patches/lldap/add_postgres.yml
    target:
      kind: Deployment
      name: lldap-deployment
  - path: patches/lldap/add_smtp.yml
    target:
      kind: Deployment
      name: lldap-deployment
resources:
  - namespace.yml
  - certificate/lldap.yml
  - ingress/authelia.yml
  - ingress/lldap.yml
  - middleware/forwardauth.yml
  - postgresql/authelia.yml
  - postgresql/lldap.yml
  - redisreplication.yml
  - redissentinel.yml
