---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

components:
  - ../../../components/authelia
  - ../../../components/cnpg-backup
  - ../../../components/lldap
configMapGenerator:
  - name: authelia-configmap
    files:
      - configmap/authelia/config.yml
images:
  - name: postgres
    newTag: 17@sha256:dca7512acaa113409df7e40d977d801e53c0c8088e45d4311a45b4065ccfdcd3
  - name: quay.io/opstree/redis-sentinel
    newTag: v8.4.0@sha256:5d55bcd922130df2a7739d4ea9a05c4ca75e301e31554952ea8d60329da110f4
  - name: quay.io/opstree/redis
    newTag: v8.4.0@sha256:539924b2c1446dcdea2f043af2c50bed7516623254e4984a6d926df42eb359b2
namespace: auth
patches:
  # authelia
  - path: patches/authelia/add_config.yml
    target:
      kind: Deployment
      name: authelia-deployment
  # cnpg
  - path: patches/cnpg/set_backup_path.yml
    target:
      kind: ObjectStore
      name: garage-objectstore
  # lldap
  - path: patches/lldap/add_config.yml
    target:
      kind: Deployment
      name: lldap-deployment
  - path: patches/lldap/add_ldaps_for_deployment.yml
    target:
      kind: Deployment
      name: lldap-deployment
  - path: patches/lldap/add_ldaps_for_service.yml
    target:
      kind: Service
      name: lldap-svc
  - path: patches/lldap/add_postgres.yml
    target:
      kind: Deployment
      name: lldap-deployment
  - path: patches/lldap/add_smtp.yml
    target:
      kind: Deployment
      name: lldap-deployment
resources:
  - namespace.yml
  - certificate/lldap.yml
  - cnpg/cluster/authelia.yml
  - cnpg/cluster/lldap.yml
  - cnpg/scheduledbackup/authelia.yml
  - cnpg/scheduledbackup/lldap.yml
  - ingress/authelia.yml
  - ingress/lldap.yml
  - middleware/forwardauth.yml
  - redisreplication.yml
  - redissentinel.yml
