---
- hosts: localhost
  gather_facts: false
  tasks:
    - name: Scale up lldap postgresql
      kubernetes.core.k8s:
        context: "{{ cluster }}"
        state: present
        resource_definition:
          apiVersion: postgresql.cnpg.io/v1
          kind: Cluster
          metadata:
            annotations:
              cnpg.io/hibernation: "off"
            name: "{{ (lookup('file', 'cnpg/cluster/lldap.yml') | from_yaml).metadata.name }}"
            namespace: "{{ k8s_namespace }}"
        wait: true
        wait_condition:
          type: Ready
          reason: ClusterIsReady
          status: "True"
        wait_timeout: 300 # 5m
    - name: Scale up lldap deployment 
      kubernetes.core.k8s:
        context: "{{ cluster }}"
        state: present
        resource_definition:
          apiVersion: apps/v1
          kind: Deployment
          metadata:
            name: lldap-deployment
            namespace: "{{ k8s_namespace }}"
          spec:
            replicas: 1
        wait: true
    - name: Scale up authelia postgresql
      kubernetes.core.k8s:
        context: "{{ cluster }}"
        state: present
        resource_definition:
          apiVersion: postgresql.cnpg.io/v1
          kind: Cluster
          metadata:
            annotations:
              cnpg.io/hibernation: "off"
            name: "{{ (lookup('file', 'cnpg/cluster/authelia.yml') | from_yaml).metadata.name }}"
            namespace: "{{ k8s_namespace }}"
        wait: true
        wait_condition:
          type: Ready
          reason: ClusterIsReady
          status: "True"
        wait_timeout: 300 # 5m
    - name: Scale up authelia redis replication statefulset
      kubernetes.core.k8s:
        context: "{{ cluster }}"
        state: present
        resource_definition:
          apiVersion: apps/v1
          kind: StatefulSet
          metadata:
            name: authelia-redis-replication
            namespace: "{{ k8s_namespace }}"
          spec:
            replicas: "{{ (lookup('file', 'redisreplication.yml') | from_yaml).spec.clusterSize | int }}"
        wait: true
    - name: Scale up authelia redis sentinel statefulset
      kubernetes.core.k8s:
        context: "{{ cluster }}"
        state: present
        resource_definition:
          apiVersion: apps/v1
          kind: StatefulSet
          metadata:
            name: authelia-redis-sentinel
            namespace: "{{ k8s_namespace }}"
          spec:
            replicas: "{{ (lookup('file', 'redissentinel.yml') | from_yaml).spec.clusterSize | int }}"
        wait: true
    - name: Scale up authelia deployment 
      kubernetes.core.k8s:
        context: "{{ cluster }}"
        state: present
        resource_definition:
          apiVersion: apps/v1
          kind: Deployment
          metadata:
            name: authelia-deployment
            namespace: "{{ k8s_namespace }}"
          spec:
            replicas: 1
        wait: true
  vars:
    cluster: default
    k8s_namespace: "{{ (lookup('file', 'kustomization.yml') | from_yaml).namespace }}"
