---
- hosts: localhost
  gather_facts: false
  tasks:
    - name: Disable automated sync for traffic-apps
      ansible.builtin.command:
        argv:
          - argocd
          - app
          - set
          - "{{ item }}"
          - --sync-policy=manual
      loop:
        - auth
        - traefik
    # Note: the argocd command line will stop working once we disable auth!
    - name: Scale down authelia deployment 
      kubernetes.core.k8s:
        context: "{{ cluster }}"
        state: present
        resource_definition:
          apiVersion: apps/v1
          kind: Deployment
          metadata:
            name: authelia-deployment
            namespace: "{{ k8s_namespace }}"
          spec:
            replicas: 0
        wait: true
    - name: Scale down authelia redis sentinel statefulset
      kubernetes.core.k8s:
        context: "{{ cluster }}"
        state: present
        resource_definition:
          apiVersion: apps/v1
          kind: StatefulSet
          metadata:
            name: authelia-redis-sentinel
            namespace: "{{ k8s_namespace }}"
          spec:
            replicas: 0
        wait: true
    - name: Scale down authelia redis replica statefulset
      kubernetes.core.k8s:
        context: "{{ cluster }}"
        state: present
        resource_definition:
          apiVersion: apps/v1
          kind: StatefulSet
          metadata:
            name: authelia-redis-replication
            namespace: "{{ k8s_namespace }}"
          spec:
            replicas: 0
        wait: true
    - name: Scale down authelia postgresql
      kubernetes.core.k8s:
        context: "{{ cluster }}"
        state: present
        resource_definition:
          apiVersion: postgresql.cnpg.io/v1
          kind: Cluster
          metadata:
            annotations:
              cnpg.io/hibernation: "on"
            name: "{{ (lookup('file', 'cnpg/cluster/authelia.yml') | from_yaml).metadata.name }}"
            namespace: "{{ k8s_namespace }}"
        wait: true
        wait_condition:
          type: cnpg.io/hibernation
          reason: Hibernated
          status: "True"
        wait_timeout: 300 # 5m
    - name: Scale down lldap deployment 
      kubernetes.core.k8s:
        context: "{{ cluster }}"
        state: present
        resource_definition:
          apiVersion: apps/v1
          kind: Deployment
          metadata:
            name: lldap-deployment
            namespace: "{{ k8s_namespace }}"
          spec:
            replicas: 0
        wait: true
    - name: Scale down lldap postgresql
      kubernetes.core.k8s:
        context: "{{ cluster }}"
        state: present
        resource_definition:
          apiVersion: postgresql.cnpg.io/v1
          kind: Cluster
          metadata:
            annotations:
              cnpg.io/hibernation: "on"
            name: "{{ (lookup('file', 'cnpg/cluster/lldap.yml') | from_yaml).metadata.name }}"
            namespace: "{{ k8s_namespace }}"
        wait: true
        wait_condition:
          type: cnpg.io/hibernation
          reason: Hibernated
          status: "True"
        wait_timeout: 300 # 5m
  vars:
    cluster: default
    k8s_namespace: "{{ (lookup('file', 'kustomization.yml') | from_yaml).namespace }}"
