---
auth:
  enabled: false
birdseye:
  enabled: true
  mode: continuous
cameras:
  Front_Porch:
    detect:
      enabled: true
      fps: 5
      height: 720
      width: 1280
    ffmpeg:
      hwaccel_args: preset-vaapi
      inputs:
        - path: rtsp://127.0.0.1:8554/front-porch
          roles:
            - record
        - path:
            rtsp://frigate:{FRIGATE_RTSP_PASSWORD}@10.67.0.12:554/cam/realmonitor?channel=1&subtype=2
          roles:
            - detect
    motion:
      mask:
        - 0.684,0,1,0,1,0.097,0.684,0.097
        - 0.672,0.654,0.659,0.815,0.645,1,0.702,1,0.718,0.831,0.727,0.649,0.731,0.475,0.734,0.292,0.72,0.138,0.707,0,0.649,0,0.67,0.304,0.672,0.481
        - 0.367,0.405,0,0.374,0,0,0.46,0.003,0.503,0.063,0.507,0.225,0.365,0.223
  Front_North_East:
    detect:
      enabled: true
      fps: 5
      height: 720
      width: 1280
    ffmpeg:
      hwaccel_args: preset-vaapi
      inputs:
        - path: rtsp://127.0.0.1:8554/front-north-east
          roles:
            - record
        - path:
            rtsp://frigate:{FRIGATE_RTSP_PASSWORD}@10.67.0.14:554/cam/realmonitor?channel=1&subtype=2
          roles:
            - detect
    motion:
      mask:
        - 0.684,0,1,0,1,0.097,0.684,0.097
        - 0.753,0.385,0.667,0.37,0.522,0.221,0.516,0,0.814,0
        - 0,0.183,0.434,0.093,0.517,0.084,0.515,0,0,0
    objects:
      filters:
        person:
          mask: 0.758,0.296,0.669,0.294,0.452,0,0.757,0
database:
  path: /config/frigate.db
detectors:
  coral:
    type: edgetpu
    device: usb
face_recognition:
  enabled: true
go2rtc:
  rtsp:
    username: frigate
    password: '{FRIGATE_RTSP_PASSWORD}'
  streams:
    front-north-east:
      rtsp://frigate:{FRIGATE_RTSP_PASSWORD}@10.67.0.14:554/cam/realmonitor?channel=1&subtype=0
    front-porch:
      rtsp://frigate:{FRIGATE_RTSP_PASSWORD}@10.67.0.12:554/cam/realmonitor?channel=1&subtype=0
model:
  width: 320
  height: 320
  path: plus://62a896664d52b459d486e453361d4710
mqtt:
  host: mosquitto-svc.homeassistant.svc.cluster.local
  user: frigate
  password: '{FRIGATE_MQTT_PASSWORD}'
objects:
  filters:
    person:
      min_score: 0.6
      threshold: 0.8
  track:
    - amazon
    - bird
    - cat
    - dhl
    - dog
    - face
    - fedex
    - package
    - person
    - possum
    - rabbit
    - raccoon
    - rodent
    - squirrel
    - ups
    - usps
record:
  enabled: true
  alerts:
    retain: {}
    pre_capture: 10
  detections:
    retain: {}
    pre_capture: 10
snapshots:
  enabled: true
ui:
  time_format: 24hour
