{#
 #  Copyright (c) 2014, Bert Van Vreckem, (bert.vanvreckem@gmail.com)
 #
 #  Taken from https://github.com/bertvv/ansible-role-bind
 #}
{{ ansible_managed | comment('c') }}
{{ (root_relative_dir + "/" + template_path) | comment('c') }}

options {
  listen-on port 53 { any; };
  directory "/var/cache/bind";
  dump-file "/var/cache/bind/data/cache_dump.db";
  statistics-file "/var/cache/bind/data/named_stats.txt";
  memstatistics-file "/var/cache/bind/data/named_mem_stats.txt";
  allow-query { any; };
  recursion no;
  rrset-order { order random; };
  pid-file "/run/named/named.pid";
  session-keyfile "/run/named/session.key";
};

logging {
  channel default_debug {
    file "data/named.run";
    severity dynamic;
    print-time yes;
  };
};

include "/etc/bind/named.conf.default-zones";

{% for bind_zone in bind_zones %}
zone "{{ bind_zone.name }}" IN {
  type master;
  file "/var/cache/bind/gen/{{ bind_zone.name }}";
  notify yes;
  allow-update { none; };
};

{% for network in bind_zone.networks %}
zone "{{ ('.'.join(network.replace(network+'.','').split('.')[::-1])) }}.in-addr.arpa" IN {
  type master;
  file "/var/cache/bind/gen/{{ ('.'.join(network.replace(network+'.','').split('.')[::-1])) }}.in-addr.arpa";
  notify yes;
  allow-update { none; };
};

{% endfor %}
{% endfor %}
