{{ ansible_managed | comment }}
{{ (root_relative_dir + "/" + template_path) | comment }}
---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

configMapGenerator:
  - name: hogs-bind9-etc-named-conf-configmap
    files:
      - configmap/etc_named.conf
  - name: hogs-bind9-gen-zones-configmap
    files:
{% for bind_zone in bind_zones %}
      - configmap/zones/{{ bind_zone.name }}
{% for network in bind_zone.networks %}
      - configmap/zones/{{ ('.'.join(network.replace(network+'.','').split('.')[::-1])) }}.in-addr.arpa
{% endfor %}
{% endfor %}
