# @codegen-command: ansible-playbook {{ play_name }} 
# @generated
---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

resources:
{% for resource in resources %}
  - {{ resource }}
{% endfor %}
