# @codegen-command: ansible-playbook {{ play_name }} 
# @generated
---
apiVersion: bfiola.dev/v1
kind: MinioPolicy
metadata:
  name: {{ policyName }}-miniopolicy
spec:
  name: {{ policyName }}
  statement:
    - action:
        - s3:*
      effect: Allow
      resource:
        - arn:aws:s3:::{{ bucketName }}
        - arn:aws:s3:::{{ bucketName }}/*
  tenantRef:
    name: {{ tenantName }}
  version: "2012-10-17"

