{%- for allow_from in vyos_dns_forwarding__allow_from -%}
set service dns forwarding allow-from {{ allow_from }}
{% endfor -%}
{%- for domain_servers in vyos_dns_forwarding__domain_servers -%}
{%- for server in domain_servers.servers -%}
set service dns forwarding domain {{ domain_servers.domain }} server {{ server }}
{% endfor -%}
{% endfor -%}
{%- for listen_address in vyos_dns_forwarding__listen_addresses -%}
set service dns forwarding listen-address {{ listen_address }}
{% endfor -%}
{%- for name_server in vyos_dns_forwarding__name_servers -%}
set service dns forwarding name-server {{ name_server }}
{% endfor -%}