[Unit]
Description=A container to run the Prometheus Node Exporter to collect system metrics.

[Container]
DropCapability=ALL
Exec=--path.procfs=/host/proc
Exec=--path.sysfs=/host/sys
Exec=--path.rootfs=/host/root
Exec=--path.udev.data=/host/root/run/udev/data
HealthCmd=CMD-SHELL wget --no-verbose --tries=1 --spider http://localhost:9100/ || exit 1
HealthInterval=10s
Image=quay.io/prometheus/node-exporter:v1.11.1@sha256:0f422f62c15f154af8d8572b23d623aebfb10cec73a5c654d18f911f3f9df241
NoNewPrivileges=true
ReadOnly=true
SecurityLabelDisable=true
Volume=/proc:/host/proc:ro
Volume=/sys:/host/sys:ro
Volume=/root:/host/root:ro
