---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

configMapGenerator:
  - name: mosquitto-default-config-configmap
    files:
      - configmap/default-config/mosquitto.conf
  - name: mosquitto-scripts-configmap
    files:
      - configmap/scripts/create_password.conf.sh
images:
  - name: eclipse-mosquitto
    newTag: 2.0.22@sha256:e011726bdfa757011bc8b8716e03b7c35d2c3f623d9f658c2c6bf66e909ea42e
resources:
  - statefulset.yml
  - service.yml
