---
apiVersion: kustomize.config.k8s.io/v1alpha1
kind: Component

configMapGenerator:
  - name: mosquitto-default-config-configmap
    files:
      - configmap/default-config/mosquitto.conf
  - name: mosquitto-scripts-configmap
    files:
      - configmap/scripts/create_password.conf.sh
images:
  - name: eclipse-mosquitto
    newTag: 2.0.22@sha256:6852da90a65dfff7aa3a1c8b249e92bb83c17ea8bbcce56bedff8707332a1a29
resources:
  - statefulset.yml
  - service.yml
