---
apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: this-is-ignored-but-is-required
spec:
  template:
    spec:
      containers:
        - env:
          - name: GARAGE_RPC_SECRET
            valueFrom:
              secretKeyRef:
                key: rpcSecret
                name: garage-secret
          name: garage
