---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

components:
  - ../../../components/cnpg-backup
  - ../../../components/spoolman
images:
  - name: ghcr.io/donkie/spoolman
    newTag: 0.22.1@sha256:238ea5bfb2eeda4436c39f54e73df5fef4ee904fb7c291617588b856786fe0ef
  - name: postgres
    newTag: 16@sha256:d4c3314b2dd74ff23cd6cd07e4d7e737cb6ef791c22a7cbd744cfbfb4815df72
namespace: 3d-printing
patches:
  - path: patches/cnpg/set_backup_path.yml
    target:
      kind: ObjectStore
      name: garage-objectstore
  - path: patches/spoolman/set_database.yml
    target:
      kind: StatefulSet
      name: spoolman-statefulset
resources:
  - namespace.yml
  - cnpg/cluster.yml
  - cnpg/scheduledbackup.yml
  - ingress.yml
  - postgresql.yml
