---
apiVersion: acid.zalan.do/v1
kind: postgresql
metadata:
  name: spoolman-17-pg
spec:
  enableLogicalBackup: true
  numberOfInstances: 3
  podPriorityClassName: application-infra
  postgresql:
    version: "17"
  preparedDatabases:
    spoolman:
      defaultUsers: true
  teamId: spoolman
  volume:
    size: 10Gi
    storageClass: longhorn-encrypted-replicated-database
