---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

components:
  - ../../../components/cnpg-backup
  - ../../../components/frigate
  - ../../../components/mosquitto
configMapGenerator:
  - files:
      - configmap/frigate/config.yml
    name: frigate-configmap
  - files:
      - configmap/mosquitto-config/homeassistant.conf
    name: mosquitto-config-configmap
images:
  - name: busybox
    newTag: 1.37.0@sha256:b3255e7dfbcd10cb367af0d409747d511aeb66dfac98cf30e97e87e4207dd76f
namespace: homeassistant
patches:
  # cnpg
  - path: patches/cnpg/set_backup_path.yml
    target:
      kind: ObjectStore
      name: garage-objectstore
  # frigate
  - path: patches/frigate/add_frigate_env_vars.yml
    target:
      kind: StatefulSet
      name: frigate-statefulset
  - path: patches/frigate/set_frigate_shm_size.yml
    target:
      kind: StatefulSet
      name: frigate-statefulset
  # mosquitto
  - path: patches/mosquitto/add_custom_config.yml
    target:
      kind: StatefulSet
      name: mosquitto-statefulset
resources:
  - namespace.yml
  - cnpg/certificate.yml
  - cnpg/cluster.yml
  - cnpg/ingressroutetcp.yml
  - cnpg/middlewaretcp.yml
  - cnpg/podmonitor.yml
  - cnpg/scheduledbackup.yml
  - cnpg/tlsoption.yml
  - ingress.yml
  - ingressroutetcp.yml
