---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

components:
  - ../../../components/frigate
  - ../../../components/mosquitto
configMapGenerator:
  - files:
      - configmap/frigate/config.yml
    name: frigate-configmap
  - files:
      - configmap/mosquitto-config/homeassistant.conf
    name: mosquitto-config-configmap
images:
  - name: busybox
    newTag: 1.37.0@sha256:d82f458899c9696cb26a7c02d5568f81c8c8223f8661bb2a7988b269c8b9051e
namespace: homeassistant
patches:
  - path: patches/frigate/add_frigate_env_vars.yml
    target:
      kind: StatefulSet
      name: frigate-statefulset
  - path: patches/frigate/set_frigate_shm_size.yml
    target:
      kind: StatefulSet
      name: frigate-statefulset
  - path: patches/mosquitto/add_custom_config.yml
    target:
      kind: StatefulSet
      name: mosquitto-statefulset
resources:
  - namespace.yml
  - certificate.yml
  - ingress.yml
  - ingressroutetcp.yml
  - postgresql.yml
