---
- hosts: localhost
  gather_facts: false
  tasks:
    - name: Disable automated sync for homeassistant
      ansible.builtin.command:
        argv:
          - argocd
          - app
          - set
          - homeassistant
          - --sync-policy=manual
    - name: Scale down frigate statefulset
      kubernetes.core.k8s:
        context: "{{ cluster }}"
        state: present
        resource_definition:
          apiVersion: apps/v1
          kind: StatefulSet
          metadata:
            name: "{{ (lookup('file', '../../../components/frigate/statefulset.yml') | from_yaml).metadata.name }}"
            namespace: "{{ k8s_namespace }}"
          spec:
            replicas: 0
        wait: true
    - name: Scale down mosquitto statefulset
      kubernetes.core.k8s:
        context: "{{ cluster }}"
        state: present
        resource_definition:
          apiVersion: apps/v1
          kind: StatefulSet
          metadata:
            name: "{{ (lookup('file', '../../../components/mosquitto/statefulset.yml') | from_yaml).metadata.name }}"
            namespace: "{{ k8s_namespace }}"
          spec:
            replicas: 0
        wait: true
    - name: Scale down homeassistant postgresql
      kubernetes.core.k8s:
        context: "{{ cluster }}"
        state: present
        resource_definition:
          apiVersion: postgresql.cnpg.io/v1
          kind: Cluster
          metadata:
            annotations:
              cnpg.io/hibernation: "on"
            name: "{{ (lookup('file', 'cnpg/cluster.yml') | from_yaml).metadata.name }}"
            namespace: "{{ k8s_namespace }}"
        wait: true
        wait_condition:
          type: cnpg.io/hibernation
          reason: Hibernated
          status: "True"
        wait_timeout: 300 # 5m
  vars:
    cluster: default
    k8s_namespace: "{{ (lookup('file', 'kustomization.yml') | from_yaml).namespace }}"
