---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

components:
  - ../../../components/atuin
images:
  - name: busybox
    newTag: 1.37.0@sha256:d80cd694d3e9467884fcb94b8ca1e20437d8a501096cdf367a5a1918a34fc2fd
  - name: ghcr.io/atuinsh/atuin
    newTag: v18.10.0@sha256:4a29feda6f352581ece849807445fe1f50f2074b4643b7bfe62b27e23705b068
  - name: postgres
    newTag: 16@sha256:74bbe2dbc3c388b05544576167540fc5d8557017282b1c889344137ea7160061
namespace: atuin
patches:
  - path: patches/set_config_env.yml
    target:
      kind: Deployment
      name: atuin-deployment
resources:
  - namespace.yml
  - ingress.yml
  - postgresql.yml
