---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

components:
  - ../../../components/atuin
  - ../../../components/cnpg-backup
images:
  - name: busybox
    newTag: 1.37.0@sha256:d80cd694d3e9467884fcb94b8ca1e20437d8a501096cdf367a5a1918a34fc2fd
  - name: ghcr.io/atuinsh/atuin
    newTag: v18.10.0@sha256:4a29feda6f352581ece849807445fe1f50f2074b4643b7bfe62b27e23705b068
  - name: postgres
    newTag: 16@sha256:d4c3314b2dd74ff23cd6cd07e4d7e737cb6ef791c22a7cbd744cfbfb4815df72
namespace: atuin
patches:
  - path: patches/atuin/set_config_env.yml
    target:
      kind: Deployment
      name: atuin-deployment
  - path: patches/cnpg/set_backup_path.yml
    target:
      kind: ObjectStore
      name: garage-objectstore
resources:
  - namespace.yml
  - cnpg/cluster.yml
  - cnpg/scheduledbackup.yml
  - ingress.yml
  - postgresql.yml
