---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

components:
  - ../../../components/atuin
images:
  - name: busybox
    newTag: 1.37.0@sha256:e3652a00a2fabd16ce889f0aa32c38eec347b997e73bd09e69c962ec7f8732ee
  - name: ghcr.io/atuinsh/atuin
    newTag: v18.10.0@sha256:4a29feda6f352581ece849807445fe1f50f2074b4643b7bfe62b27e23705b068
  - name: postgres
    newTag: 16@sha256:d4c3314b2dd74ff23cd6cd07e4d7e737cb6ef791c22a7cbd744cfbfb4815df72
namespace: atuin
patches:
  - path: patches/set_config_env.yml
    target:
      kind: Deployment
      name: atuin-deployment
resources:
  - namespace.yml
  - ingress.yml
  - postgresql.yml
