---
apiVersion: acid.zalan.do/v1
kind: postgresql
metadata:
  name: atuin-17-pg
spec:
  enableLogicalBackup: true
  numberOfInstances: 2
  podPriorityClassName: application-infra
  postgresql:
    version: "17"
  preparedDatabases:
    atuin:
      defaultUsers: true
  teamId: atuin
  volume:
    size: 10Gi
    storageClass: longhorn-encrypted-replicated-database
