---
# This computes the zone pairings with all the other zones.

{% set named_zones = vyos_firewall__zones | map(attribute='name') | unique | sort %}
{% for zone_name in named_zones %}
- name: "{{ zone_name }}"
  firewall_name: "{{ vyos_firewall__zones | selectattr('name', 'equalto', zone_name) | map(attribute='firewall_name') | first }}"
  from:

{% for from_name in named_zones %}
{% if zone_name != from_name %}
{% set from_firewall_name = vyos_firewall__zones | selectattr("name", "equalto", from_name) | map(attribute="firewall_name") | first %}
  - name: "{{ from_name }}"
    firewall_name: "{{ from_firewall_name }}"
{% endif %}
{% endfor %}

{% endfor %}
