---
# This adds rule numbers to rules (and overrides rule numbers in files if they exist)

{% set zone_rules = lookup('template', file_path) | from_yaml %}
{% if zone_rules is none %}
  {%- set zone_rules = [] %}
{% endif %}
{% set rules = core_firewall_rules + zone_rules %}
{% for rule in rules %}
- {{
    rule | combine({
      'number': loop.index + 100,
    })
}}
{% endfor %}
