---
# Sets default values on any missing attributes for each object in vyos_firewall__zones
{% for zone in vyos_firewall__zones %}
  - description:{% if "description" in zone %}
  "{{ zone.description }}"
{% else %}
  None
{% endif %}
    firewall_name: {{ zone.firewall_name | default(zone.name) }}
    interface: {{ zone.interface | default(None)}}
    local-zone: {{ zone['local-zone'] | default(false) }}
    name: {{ zone.name }}
{% endfor %}