{%- macro set_description(zone) -%}
    {%- if "description" in zone and zone.description -%}
        set zone-policy zone {{ zone.name }} description '{{ zone.description }}'
    {%- endif %}
{%- endmacro %}

{%- macro set_firewall(zone, firewall_name) -%}
    {%- set afi = "ipv" + firewall_name[-1] %}
    {%- set prefix_offset = ((zone.firewall_name | default(zone.name)) + "-from-") | length %}
    {%- set suffix_offset = 0 - ("-vX" | length) %}
    {%- set from_zone_firewall_name = firewall_name[prefix_offset:suffix_offset] %}
    {%- set from_zones = vyos_firewall__zones | selectattr("firewall_name", "equalto", from_zone_firewall_name) | map(attribute="name") | sort %}

    {%- for from_zone in from_zones -%}
{% if afi == "ipv4" -%}
set zone-policy zone {{ zone.name }} from {{ from_zone }} firewall name '{{ firewall_name }}'
{% elif afi == "ipv6" -%}
set zone-policy zone {{ zone.name }} from {{ from_zone }} firewall ipv6-name '{{ firewall_name }}'
{% endif -%}
    {% endfor -%}
{%- endmacro %}

{%- macro set_interface(zone, interface) -%}
set zone-policy zone {{ zone.name }} interface '{{ interface }}'
{%- endmacro %}

{%- macro set_interfaces(zone) -%}
    {% if "local-zone" in zone and zone["local-zone"] -%}
        set zone-policy zone {{ zone.name }} local-zone
    {% endif %}
    {%- for interface in zone.interfaces %}
        {{- set_interface(zone, interface) }}
    {%- endfor -%}
{%- endmacro %}

{%- macro set_zone_firewalls(zone, afi) -%}
    {%- set zone_firewall_filter = zone.firewall_name + "-from-.*-" + afi[-2:] %}
    {%- set firewall_names = (rule_sets_ipv4 + rule_sets_ipv6) | selectattr('name', 'match', zone_firewall_filter) | map(attribute='name') %}

    {%- for from_zone in _zone_name_info | selectattr('name', 'equalto', zone.name) | map(attribute='from') | first %}
{% set expected_firewall_name = zone.firewall_name + "-from-" + from_zone.firewall_name + "-" + afi[-2:] %}
{% if expected_firewall_name in firewall_names -%}
    {{- set_firewall(zone, expected_firewall_name) -}}
{% else -%}
set zone-policy zone {{ zone.name }} from {{ from_zone.name }} firewall {% if afi == "ipv6" %}ipv6-{% endif %}name 'DROP-AND-LOG-{{ afi[-2:] }}'
{% endif -%}
    {% endfor -%}
{%- endmacro %}


{%- for zone in vyos_firewall__zones -%}
set zone-policy zone {{ zone.name }} default-action 'drop'
{{ set_description(zone) }}
{{ set_zone_firewalls(zone, "ipv4") }}
{{ set_zone_firewalls(zone, "ipv6") }}
{{ set_interfaces(zone) }}
{% endfor -%}
