---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: nextcloud
    version: 8.6.0
    repo: https://nextcloud.github.io/helm/
    releaseName: nextcloud
    valuesFile: nextcloud-values.yml
images:
  - name: postgres
    newTag: 17@sha256:2b6239f32680c308921cf212902f881355c31ae92da0795b4fef29d8f0033021
namespace: nextcloud
resources:
  - namespace.yml
  - ingress.yml
  - middleware.yml
  - persistentvolume.yml
  - persistentvolumeclaim.yml
  - postgresql.yml
  - redis.yml
