---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

helmCharts:
  - name: nextcloud
    version: 8.2.0
    repo: https://nextcloud.github.io/helm/
    releaseName: nextcloud
    valuesFile: nextcloud-values.yml
images:
  - name: postgres
    newTag: 17@sha256:f79b9ee89b84a67a22e5eda7931d8510885ecc1f0a6e1572b0077fc003a5d892
namespace: nextcloud
resources:
  - namespace.yml
  - ingress.yml
  - middleware.yml
  - persistentvolume.yml
  - persistentvolumeclaim.yml
  - postgresql.yml
  - redis.yml
