---
# Populates the correct configuration dict for `vyos.vyos.vyos_interfaces`

{% for ethernet in vyos_interfaces__ethernet %}
- name: "{{ ethernet.name }}"
  description: "{{ ethernet.description }}"
  enabled: {{ ethernet.enabled | default(true) }}

{% if "vifs" in ethernet %}
  vifs:
{% for vif in ethernet.vifs | default([]) %}
    - vlan_id: {{ vif.vlan_id }}
      description: "{{ vif.description }}"
      enabled: {{ vif.enabled | default(true) }}
{% endfor %}
{% endif %}

{% endfor %}
