---
# Populates the correct configuration dict for `vyos.vyos.vyos_l3_interfaces`

{% for ethernet in vyos_interfaces__ethernet %}
- name: "{{ ethernet.name }}"
{% if "ipv4" in ethernet %}
  ipv4: {{ ethernet.ipv4 }}
{% endif %}
{% if "ipv6" in ethernet %}
  ipv6: {{ ethernet.ipv6 }}
{% endif %}

{% if "vifs" in ethernet %}
  vifs:
{% for vif in ethernet.vifs | default([]) %}
    - vlan_id: {{ vif.vlan_id }}
{% if "ipv4" in vif %}
      ipv4: {{ vif.ipv4 }}
{% endif %}
{% if "ipv6" in vif %}
      ipv6: {{ vif.ipv6 }}
{% endif %}
{% endfor %}

{% endif %}

{% endfor %}
