---
{% macro set_wireguard_addresses(wireguard) %}
    {%- set address_list = (wireguard.ipv4 | default([]) + wireguard.ipv6 | default([])) | map(attribute="address") %}
    {%- for address in address_list %}
- set interfaces wireguard {{ wireguard.name }} address '{{ address }}'
    {% endfor %}
{% endmacro %}

{% macro set_wireguard_description(wireguard) %}
    {%- if "description" in wireguard %}
- set interfaces wireguard {{ wireguard.name }} description '{{ wireguard.description }}'
    {% endif %}
{% endmacro %}

{% macro set_wireguard_mtu(wireguard) %}
    {%- if "mtu" in wireguard %}
- set interfaces wireguard {{ wireguard.name }} mtu '{{ wireguard.mtu }}'
    {% endif %}
{% endmacro %}

{% macro set_wireguard_port(wireguard) %}
    {%- if "port" in wireguard %}
- set interfaces wireguard {{ wireguard.name }} port '{{ wireguard.port }}'
    {% endif %}
{% endmacro %}

{% macro set_wireguard_private_key(wireguard) %}
- set interfaces wireguard {{ wireguard.name }} private-key '{{ wireguard.privkey }}'
{% endmacro %}

{% macro set_peer_addresses(iface, peer) %}
    {%- set address_list = (peer.ipv4 | default([]) + peer.ipv6 | default([])) | map(attribute="address") %}
    {%- for address in address_list %}
- set interfaces wireguard {{ iface }} peer {{ peer.name }} address '{{ address }}'
    {% endfor %}
{% endmacro %}

{% macro set_peer_allowed_ips(iface, peer) %}
    {%- set allowed_list = (peer.allowed_ips.ipv4 | default([]) + peer.allowed_ips.ipv6 | default([])) | map(attribute="network") %}
    {%- for allowed_ip in allowed_list %}
- set interfaces wireguard {{ iface }} peer {{ peer.name }} allowed-ips '{{ allowed_ip }}'
    {% endfor %}
{% endmacro %}

{% macro set_peer_persistent_keepalive(iface, peer) %}
    {%- if "persistent_keepalive_sec" in peer %}
- set interfaces wireguard {{ iface }} peer {{ peer.name }} persistent-keepalive '{{ peer.persistent_keepalive_sec }}'
    {% endif %}
{% endmacro %}

{% macro set_peer_port(iface, peer) %}
    {%- if "port" in peer %}
- set interfaces wireguard {{ iface }} peer {{ peer.name }} port '{{ peer.port }}'
    {% endif %}
{% endmacro %}

{% macro set_peer_public_key(iface, peer) %}
- set interfaces wireguard {{ iface }} peer {{ peer.name }} public-key '{{ peer.pubkey }}'
{% endmacro %}

{% for wireguard in vyos_interfaces__wireguard %}

    {{ set_wireguard_addresses(wireguard) }}
    {{ set_wireguard_description(wireguard) }}
    {{ set_wireguard_mtu(wireguard) }}
    {{ set_wireguard_port(wireguard) }}
    {{ set_wireguard_private_key(wireguard) }}
    {% for peer in wireguard.peers %}
        {{- set_peer_addresses(wireguard.name, peer) }}
        {{- set_peer_allowed_ips(wireguard.name, peer) }}
        {{- set_peer_persistent_keepalive(wireguard.name, peer) }}
        {{- set_peer_port(wireguard.name, peer) }}
        {{- set_peer_public_key(wireguard.name, peer) }}
    {% endfor %}
{% endfor %}
