---
# Installation
- name: "Install zabbix-agent"
  ansible.builtin.package:
    name: "zabbix54-agent"
    state: "latest"
  tags:
    - "zabbix-agent"
- name: "Setup a symlink from /usr/local/etc/zabbix to installed version"
  ansible.builtin.file:
    group: "wheel"
    owner: "root"
    path: "/usr/local/etc/zabbix"
    src: "/usr/local/etc/zabbix54/"
    state: "link"
  tags:
    - "zabbix-agent"
- name: "Enable zabbix-agent"
  ansible.builtin.copy:
    content: |
      # {{ ansible_managed }}
      zabbix_agentd_enable="YES"
    dest: "/etc/rc.conf.d/zabbix_agentd"
    mode: "u=rw,g=r,o=r"
    owner: "root"
    group: "wheel"
  notify: "restart zabbix-agent"
  tags:
    - "zabbix-agent"

# Configuration
- ansible.builtin.import_tasks: "configuration.yml"

- name: "Ensure zabbix-agent is started"
  ansible.builtin.service:
    name: "zabbix_agentd"
    state: "started"
  tags:
    - "zabbix-agent"
