---
name: Cloudflare IP Update
on:
  schedule:
    - cron: 0 23 * * 5

jobs:
  update-cloudflare-ips:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Fetch IPs and update with ansible
        uses: devcontainers/ci@8bf61b26e9c3a98f69cb6ce2f88d24ff59b785c6 # v0.3.1900000417
        with:
          cacheFrom: ghcr.io/${{ github.repository }}-devcontainer
          env: |
            ANSIBLE_CONFIG=ansible-ci.cfg
            CI=1
          imageName: ghcr.io/${{ github.repository }}-devcontainer
          push: never
          runCmd: ansible-playbook plays/cloudflare/update_ips.yml

      - id: create-pull-request
        name: Create Pull Request
        uses: peter-evans/create-pull-request@22a9089034f40e5a961c8808d113e2c98fb63676 # v7.0.11
        with:
          base: main
          branch: create-pull-request/cloudflare-ip-update
          commit-message: "[cloudflare] automated IP address update"
          delete-branch: true
          sign-commits: true
          title: "[cloudflare] automated IP address update"
          token: ${{ secrets.CREATE_PULL_REQUEST_TOKEN }}

      - name: Enable Pull Request Automerge
        if: steps.create-pull-request.outputs.pull-request-operation == 'created'
        uses: peter-evans/enable-pull-request-automerge@a660677d5469627102a1c1e11409dd063606628d # v3.0.0
        with:
          token: ${{ secrets.CREATE_PULL_REQUEST_TOKEN }}
          pull-request-number: ${{ steps.create-pull-request.outputs.pull-request-number }}
          merge-method: squash
