---
name: Devcontainer-based CI
on:
 push:
   branches:
     - main
     - renovate/**
 pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3 
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      
      - name: Set up Buildx to use docker-container
        uses: docker/setup-buildx-action@8d2750c68a42422c14e847fe6c8ac0403b4cbd6f # v3.12.0
        with:
          driver: docker-container

      - name: Pre-build image and run lint in dev container
        uses: devcontainers/ci@8bf61b26e9c3a98f69cb6ce2f88d24ff59b785c6 # v0.3.1900000417
        with:
          cacheFrom: ghcr.io/${{ github.repository }}-devcontainer
          cacheTo: ghcr.io/${{ github.repository }}-devcontainer
          env: |
            CI=1
          imageName: ghcr.io/${{ github.repository }}-devcontainer
          push: filter
          refFilterForPush: refs/heads/main

  quick-lint:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Run quick-lint
        uses: devcontainers/ci@8bf61b26e9c3a98f69cb6ce2f88d24ff59b785c6 # v0.3.1900000417
        with:
          cacheFrom: ghcr.io/${{ github.repository }}-devcontainer
          env: |
            ANSIBLE_CONFIG=ansible-ci.cfg
            CI=1
          push: never
          runCmd: |
            set -euxo pipefail
            just ansible-lint
            just hadolint
            just justcheck
            just renovate-validate
            just shellcheck

  kustomize-build:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Run kustomize-build
        uses: devcontainers/ci@8bf61b26e9c3a98f69cb6ce2f88d24ff59b785c6 # v0.3.1900000417
        with:
          cacheFrom: ghcr.io/${{ github.repository }}-devcontainer
          env: |
            CI=1
          push: never
          runCmd: |
            set -euxo pipefail
            just kustomize-build
